<% unless flash[:warning].nil? %>
$("#tag_flash").html("<div class='warning'>" + "<%= escape_javascript(flash[:warning]) %>" +  "</div>");

$("#tag_flash2").html("<div class='warning'>" + "<%= escape_javascript(flash[:warning]) %>" +  "</div>");
<% else %>
$("#tag_flash").html("<div class='message'>" + "Operated successfully" + "</div>");
$("#hiden_meta_id").val('<%= escape_javascript("#{@tag_meta_type.id}") %>')
$("#tag_selection").change();
$("#render_tag_meta_type").change();

$("#tag_flash2").html("<div class='message'>" + "Operated successfully" + "</div>");
$("#hiden_meta_id2").val('<%= escape_javascript("#{@tag_meta_type.id}") %>')
$("#tag_selection2").change();
$("#render_tag_meta_type2").change();
<% end %>
