.info_container
  .header_container
    .options
      = link_to_function (image_tag('close_icon.png', :style => "float:right;margin-right:10px;"), :id => "close_new_module", :style => "display:none;", :title=>"Close")
    .options_left{:class => "toggle_button", :toggle_id_name => "hide_module", :id => "show_module_select"}
      = link_to_function image_tag('add_icon.png'), :id => "new_group_permission", :group_id => @group_type.id
      &nbsp
    %h3 Add Permissions

    %div{:id => "hide_module"}
  
#permission_form






