-# The form to edit an phone
-form_for @website, :html => {:class => 'ajax_form edit_website'} do |website|
  %div
    .header_container
      .title
        %h1 Edit Website
      .options
        = link_to image_tag('close_icon.png'), website_path(@website), :class => 'get_close', :title=>"Close"
      %br.clear
      = render :partial => 'website_form', :locals => { :website => website,:edit => "edit" }
      = submit_tag 'Submit',:id=>"submit_website_field_edit" , :check_field => "website_value_edit"
