.form_line
  .field_20
    %h2 Website
  %br.clear
.form_line
  .field_15
    = website.label :contact_meta_type_id, 'Type'
    = website.collection_select :contact_meta_type_id, Contact.website_types, :id, :name
  .field_80
    = website.label :value, "Website"
    = website.text_field :value
  %br.clear