-form_for @list_header, :html => {:class => "ajax_form dataTable_form",} do |f|
  .container
    .form_line
      .field_25
        =f.label :name, "List Name"
        =f.text_field :name
      .field_25
        =f.label :description, "List Description"
        =f.text_field :description
      .field_20
        =f.label :allow_duplication, "Allow Duplications"
        %input{:style => "display:none;", :name => "list_header[allow_duplication]", :value => @allow_duplication}
        -if (@allow_duplication=="true")
          %input{:type => "checkbox", :style => "width:30%;display:inline;", :disabled => true, :checked=>true}
        -else
          %input{:type => "checkbox", :style => "width:30%;display:inline;", :disabled => true}
        
      .field_25{:style => "float:right"}
        =f.label :description, "&nbsp;"
        %input{:style => "display:none", :name => "compile"}
        =submit_tag "Createa List", :style => "width:100px;float:right"
      %br.clear


.container
  %table#list_compile_grid
          
  