.info_container#new_query
  = link_to_function (image_tag('add_icon.png', :style => "float:left;margin-right:10px;"), :id => "show_list_compiler")
  = link_to_function (image_tag('close_icon.png', :style => "float:right;margin-right:10px;"), :id => "close_list_compiler", :style => "display:none;")
  %h3 List Compiler

  #list_compiler_form{:style => "display:none"}

.info_container#existing_list
  %h3 Existing Lists
  #show_lists
    = render :partial => "lists/saved_list", :collection => ListHeader.sortall
  %br.clear

.info_container#edit_list{:style => "display:none"}
  %h3 Edit List
  #show_list_details

#copy_form{:style => "display:none"}