.info_container{:id => type+"#{@list_header.id}"}
  .header_container
    .title
      %h3= @list_header.name
      %input{:style => "display:none", :name => (type=="merge") ? "merge_list_array[]" : "exclude_list_array[]", :value => @list_header.id}
    .options
      = link_to_function image_tag('delete_icon.png'), :class => 'delete_list', :delete_id => type+"#{@list_header.id}"
    %br.clear