-# :locals => {:title, :lists}

.full_container
 
  %p
    = h"New lists can be create through <<query>> or <<list compiler>>"
.full_container#existing_list
  %h1 Existing Lists
  %input.hidden{:id => "list_mode", :mode => "show"}
  #show_lists
    = render :partial => "lists/saved_list", :collection => lists
  %br.clear

.container#edit_list.hidden
  #show_list_details

#copy_form.hidden