.header_container.container.toggle_options{:field => "list"}
  %div
    .title
      %h2 #{saved_list.formatted_info}
    .options{:style => "display:none;"}
      = link_to image_tag('edit_icon.png', :alt => 'Edit'), edit_list_header_path(saved_list), :class => 'get_list'
      = link_to image_tag('Icons/System/clone.png', :alt => 'SaveAs'), copy_list_header_path(saved_list), :class => 'get_list'
      = link_to image_tag('delete_icon.png', :alt => 'Delete'), list_header_path(saved_list), :class => 'delete' ,:field => "List",:error_message_field => "List"
    %br.clear
  