-# The form to edit a master doc
-form_for @masterdoc,:index => @masterdoc.id, :html =>{:class => "ajax_form"} do |form|
  %fieldset
    .header_container
      .title
        %h3 Edit Document
      .options
        = link_to image_tag('close_icon.png'), master_doc_path(@masterdoc), :class => 'get'
      %br{ :style=>"clear: both;"}
    = render :partial => '/master_docs/master_doc_form', :locals => { :form => form, :masterdoc => @masterdoc }
    = submit_tag 'Submit'
