<%- options = String.new  %>
<%-if @result == "addresses"%>
  <% @select_type.each do |i| %>
    <%- options += '<option value='+"#{i.sub(" ","").underscore}"+'>'+" #{i}"+'</option>' %>
  <%- end %>
 <%-  elsif @result == "keyword" || @result == "role"||@result =="group"||@result == "note"%>
  <% @select_type.each do |i| %>
    <%- options += '<option value='+"#{i.id}"+'>'+" #{i.name}"+'</option>' %>
  <%- end %>

<%end%>
 <%if @type =="Org"%>
 $("#org_table_field_id").html("<%= escape_javascript("#{options}") %>");
  $("#org_table_field_id").change('');
 <%else%>
  $("#table_field_id").html("<%= escape_javascript("#{options}") %>");
   $("#table_field_id").change('');
 <%end%>

 <%if @select_type.nil?%>
 $("#global_delete").attr('disabled',true);
 <%else%>
  $("#global_delete").attr('disabled',false);
 <%end%>
