-if @organisation.class.to_s == "ClientOrganisation"
  .container
    .title
      %h1 Bank Account Details

    %br.clear
    #group_list
      = render :partial => '/organisations/organisation_bank_account', :collection => ClientBankAccount.active_client_bank_account
-else
  = render :partial => "/organisation_bank_accounts/account_tab",:locals =>{:organisation => @organisation}