-form_for @note,:index => @note.id, :html => {:class => 'ajax_form edit_note'} do |note|
  %div
    .header_container
      .title
        %h1 Edit Note
      .options
        = link_to image_tag('close_icon.png'), note_path(@note),:class => 'get_close', :field => "note", :id => 'note_edit_close_button', :title=>"Close"
      %br{ :style=>"clear: both;"}
      = render :partial => 'note_form', :locals => { :note => note}
      =submit_tag 'Submit'