%div
  -form_for Note.new, :controller => "notes", :action => "update", :html =>{:id=>"note_update_form",:class => "ajax_form"} do |form|
    = render :partial => 'notes/edit_note_form'
    =submit_tag 'Submit',:id=>"note_edit_submit"

