- @entity ||= @person.nil? ? @organisation : @person

.header_container
  %h2 Existing Notes
  %table#show_notes_grid{:class => "selectable_grid", :db_click_function => "true", :db_click_url => "/notes/",:edit=>"true"}


%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
      $("#show_notes_grid").flexigrid({
      url: '/grids/show_notes_grid?entity_id=#{@entity.id}&type=#{@entity.class.to_s}',
      dataType: 'json',
      colModel : [
      {
      display: 'ID',
      name : 'id',
      width : 40,
      sortable : true,
      align: 'left'
      },

      {
      display: 'Label',
      name : 'label',
      width : 100,
      sortable : true,
      align: 'left'
      },

      {
      display: 'Short Description',
      name : 'short_description',
      width : 80,
      sortable : true,
      align: 'left'
      },

      {
      display: 'Body Text',
      name : 'body_text',
      width : 180,
      sortable : true,
      align: 'left'
      },
      {
      display: 'Active',
      name : 'active',
      width : 40,
      sortable : true,
      align: 'left'
      }
      ],
      searchitems : [
      {
      display: 'Label',
      name : 'label'
      },

      {
      display: 'Short Description',
      name : 'short_description'
      },

      {
      display: 'Body Text',
      name : 'body_text'
      },
      {
      display: 'Active',
      name : 'Active'
      }
      ],
      sortname: "id",
      sortorder: "asc",
      usepager: true,
      useRp: true,
      rp: 20,
      showTableToggleBtn: false,
      width: 'auto',
      height: 'auto'
      });