-# Displays for Role Details
-div_for(person_role, :class => 'info_container') do
  .header_container
    .title
      %h3= person_role.role.name
    .options{:class => 'person_roles_edit_delete'}
      = link_to image_tag('edit_icon.png'), edit_person_role_path(person_role), :class =>'get', :id => 'role_edit_button'
      = link_to image_tag('delete_icon.png'), person_role_path(person_role), :class => 'delete', :id => 'role_delete_button'
    %br.clear
  .display_container
    = format_role(person_role)

