#system_news  
  #left_pad
    = link_to_function image_tag('Icons/Core/Lol/go-previous.png'), :id => "pre_three_news" if @current_news != SystemNews.first_three
  #system_news_panel
    #system_news_holder
      = render :partial => "system_news/system_news", :collection => @current_news
  #right_pad
    = link_to_function image_tag('Icons/Core/Lol/go-next.png'), :id => "next_three_news" if @current_news != SystemNews.last_three
