-# locals => {:transaction_header_id}
.full_container
  %h2 Allocations

  %table#show_existing_transaction_allocations_grid

%script{:type => "text/javascript", :charset => "utf-8"}
  $("#show_existing_transaction_allocations_grid").flexigrid({
  url: '/grids/show_existing_transaction_allocations_grid?transaction_header_id=#{transaction_header_id}',
  dataType: 'json',
  colModel : [
  {
  display: 'ID',
  name : 'id',
  width : 40,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Receipt Account',
  name : 'receipt_accounts.name',
  width : 150,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Campaign',
  name : 'campaigns.name',
  width : 150,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Source',
  name : 'sources.name',
  width : 150,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Letter',
  name : 'letter_id',
  width : 250,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Amount',
  name : 'amount',
  width : 150,
  sortable : true,
  align: 'left'
  }
  ],
  searchitems : [
  {
  display: 'Receipt Account',
  name : 'receipt_accounts.name'
  },

  {
  display: 'Campaign',
  name : 'campaigns.name'
  },

  {
  display: 'Source',
  name : 'sources.name'
  }
  ],
  sortname: "id",
  sortorder: "asc",
  usepager: true,
  useRp: true,
  rp: 20,
  showTableToggleBtn: false,
  width: 'auto',
  height: 'auto'
  });