%input.hidden{:id => "membership_fee_mode", :mode => "show"}

-#  when you in this page list all the structure here----user for add + grid

#add_new_membership_fee
  =render :partial => "fee_items/new_membership_fee"

#existing_membership_fee
  = render :partial => "fee_items/existing_membership_fee"

#edit_membership_fee{:style => "display:none;margin-top:10px;float:left;"}
  #edit_membership_fee_form

