<%- options = String.new  %>

<%- @tags.each do |i|%>
<%- options += "<option value = #{i.id}> #{i.name} </option>"%>
<%- end %>

$('.general_drop_down_level_3[drop_down_field='+ '<%= escape_javascript("#{@drop_down_field}") %>'+']').html('<%= escape_javascript("#{options}") %>');

