#header
  #page_title
    %h1 Person Mail Merge
  #lol
    %br.clear

.tab_switch{:style => "margin-left:15px;"}

  .tab_switch_left.active.left{:field => "merge_tab"}
  .container_icon.active.left{:align => "center"}
    Person Mail Merge
  .tab_switch_right.active.left{:field => "merge_tab"}

  .tab_switch_left.active.left{:field => "person_mail_template"}
  .container_icon.active.left{:align => "center"}
    Person Mail Merge Template
  .tab_switch_right.active.left{:field => "person_mail_template"}

  .tab_switch_left.active.left{:field => "b"}
  .container_icon.active.left{:align => "center"}
    xxx
  .tab_switch_right.active.left{:field => "b"}

%br.clear

-#merge_tab.tab_switch_container.active.full_container

#person_mail_template.active.full_container
  = render :partial => "/message_template/mail_template_tab"