.div#show_person_change_password
  %h1 Password
  -form_for @current_guest,:html=>{:class=>"ajax_form", :submit_button_id=> "profile_change_password_submit" ,:id =>"guest_password"} do
    .form_line
      .field_40
        %input{:id=>"old_password",:name=>"guest[old_password]",:class=>"compulsory_field validate[required,length[6,30]]", :type => "password",:title =>"Old Password"}
    .form_line
      .field_40
        %input{:id=>"new_password",:name=>"guest[new_password]",:class=>"compulsory_field password_change jpassword-lefttop validate[required,length[6,30]]", :type => "password",:title=>"New Password"}
      .field_40
        %input{:id=>"retype_new_password",:name=>"guest[retype_new_password]",:class =>"compulsory_field validate[required,length[6,30],confirm[new_password]]", :type => "password",:title=>"Repeat Password"}
    .form_line
      .field_60
        = link_to_function "cancel" ,:class=>"alt_option",:style=>"float:right",:id=>"cancel_change_password"
      .field_20{:style=>"width:21%;"}
        =submit_tag 'Submit',:id=>"profile_change_password_submit",:style=>"float:right;",:disabled=>true
    .form_line#feedback_area
      .div{:id=>"successful_password_message_container",:class=>"register_feedback",:style=>"display:none;"}
      .div{:id=>"fail_password_message_container",:class=>"register_feedback",:style=>"display:none;"}

