<div id="tab_menu">
  <a href="/guests/show">
    <div class="tab_menu_item" style="margin-left: 15px;">
      <h1>Profile</h1>
    </div>
  </a>
  <div class="tab_menu_item active">
    <h1>Contact Details</h1>
  </div>
</div>
<div id="person_profile">
  <%=render :partial =>"person_contact"%>
</div>

