<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>EmZee Version 1.1 - The Community Social Solution</title>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery","1.3.2");
      google.load("jqueryui","1.7.1");
    </script>
    <%= stylesheet_link_tag   "jpassword", "guest.css","jquery-ui-1.7.1.custom.css","watermark" %>
    <%= javascript_include_tag  "guest.js",
      "jquery.jclock.js",
      "jquery.jpassword.js",
      "jquery.form.js",
      "jquery.updnWatermark.js"
  %>

  </head>

  <body>
    <div id="top_bar"><div id="go_back_link"><a style="margin-left: 10%" href=""><< back to Aghapy TV website</a></div></div>
    <div id="signin_container" title="Login Assistance">
      <div id="signin_logo" ></div>
      <div id="signin_form" style="padding:0 10%">
        <div class="sign_content_title" > Member Portal </div>
        <div id="signin_form_wrapper">
          <% form_tag('/guests/login/', :id => "login_form", :submit_button_id => "signin_button") do -%>
            <div class="form_line">
              <div class="field_90">
                <input id="username" class="field compulsory_field" type="text" size="28" name="user_name" style="height:24px;"  title="Email"/>
              </div>
            </div>
            <div class="form_line">
              <div class="field_90">
                <input id="password" class="field compulsory_field" type="password" size="28" name="password" style="height:24px;" title ="Password"/>
              </div>
            </div>
            <div class="form_line">
              <div class="left" style="float:left">
                <a href="" id="register_guest_account">Register</a> - <a href="/guests/new/" id="forgot_password">Forgot your password ?</a>
              </div>
              <div class="right" style="float:right;margin-bottom:15px;">
                <input id="signin_button" type="submit" value="Sign In" disabled="true"/>
              </div>
            </div>
          <% end -%>
        </div>
      </div>
      <br></br>
      <br style="clear:both"></br>


    </div>

    <div id="signin_container" title="Login Assistance">
      <div id="register_form" style="padding:0 10%">
        <div class="sign_content_title"> Member1 Registration </div>
        <div id="signin_form_wrapper">
          <% form_tag('/guests/create/',:id=>"create_guest", :submit_button_id => "register_button") do -%>
            <div class="form_line">
              <div class="field_90">
                <input id="first_name" class="field compulsory_field" type="text" size="28" name="guests[first_name]"  title="Family Name"/><br />
              </div>
            </div>

            <div class="form_line">
              <div class="field_90">
                <input id="family_name" class="field compulsory_field" type="text" size="28" name="guests[family_name]"  title="Last Name"/><br />

              </div>
            </div>

            <div class="form_line">
              <div class="field_90">
                <input id="eamil" class="field compulsory_field" type="text" size="28" name="guests[email]"  title="Email"/><br />
              </div>
            </div>

            <div class="form_line">
              <div class="field_90">
                <input id="phone" class="field compulsory_field" type="text" size="28" name="guests[phone_num]"  title="Contact Number" /><br />
              </div>
            </div>
            <div class="form_line">
              
                <div class="captcha"><%= show_simple_captcha %></div>

             
            </div>
            
            <div class="form_line">
          
                <input id="register_button" type="submit" value="Register" disabled="true"/>
                <a href="" id="cancel">Cancel</a>
             
            </div>
          <% end -%>
        </div>


      </div>
      <br style="clear:both"></br>
    </div>
  </body>
</html>
