<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>EmZee Version 1.1 - The Community Social Solution</title>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery","1.3.2");
      google.load("jqueryui","1.7.1");
    </script>
    <%= stylesheet_link_tag   "jpassword", "signin.css","jquery-ui-1.7.1.custom.css" %>
    <%= javascript_include_tag  "login.js",
      "jquery.jclock.js",
      "jquery.jpassword.js",
      "jquery.form.js"
  %>

  </head>

  <body>

    <div> Guest Infomation</div>
  </body>
</html>
