-div_for(include_list, :class => 'header_container green_container') do
  .title
    %h2= include_list.list_header.name
  .options
    = link_to image_tag('delete_icon.png'), include_list_path(include_list), :class => 'delete', :field => "List",:error_message_field =>"List"
  %br.clear