-div_for(include_list, :class => 'info_container') do
  .header_container
    .title
      %h3= include_list.list_header.name
    .options
      = link_to image_tag('delete_icon.png'), include_list_path(include_list), :class => 'delete'
    %br.clear