<%- if flash[:error].nil? %>
$("#criterias").append("<%= escape_javascript(render(:partial => 'queries/query_criteria')) %>");
$("#new_query_criteria")[0].reset();
$("#fields_criteria").html('');
$("#attribute_description_criteria").html('<label class="descriptions_criteria">&nbsp;</label>');
$('#<%= dom_id(@query_criteria) %>').effect('slide', {direction:'right'});
<%- else %>

<%- end %>