-# The options to edit or add an employment
.form_line
  .field_25
    =employment.label :organisation_id, "Organisation ID"
    =employment.text_field :organisation_id
  .field_50
    =employment.label :organisation_id, "Organisation Name"
    %input#organisation_name_container{:disabled=>true}
  .field_25
    =employment.label :id, "Employment ID"
    =employment.text_field :id, :disabled=>true
  %br.clear
.form_line
  .field_25
    =employment.label :staff_reference, "Reference Number"
    =employment.text_field :staff_reference
  .field_25
    =employment.label :department, "Department"
    =employment.text_field :department
  .field_25
    =employment.label :section, "Section"
    =employment.text_field :section
  .field_25
    =employment.label :pay_cost_centre, "Cost Centre"
    =employment.text_field :pay_cost_centre
  %br.clear

.form_line
  .field_full.center Position

.form_line
  .field_25
    =employment.label :position_name, "Name"
    =employment.text_field :position_name
  .field_25
    =employment.label :position_title, "Description"
    =employment.text_field :position_title
  .field_25
    =employment.label :commenced_date, "Commenced Date"
    =employment.text_field :commenced_date, :class=>"datepick"
  .field_25
    =employment.label :term_end_date, "Term End Date"
    =employment.text_field :term_end_date, :class=>"datepick"
  %br.clear
.form_line
  .field_25
    =employment.label :position_classification, "Classification"
    =employment.text_field :position_classification
  .field_25
    =employment.label :position_type, "Position Type"
    =employment.text_field :position_type
  .field_25
    =employment.label :award_agreement, "Award Agreement"
    =employment.text_field :award_agreement
  .field_25
    =employment.label :award_other, "Award Othhers"
    =employment.text_field :award_other
  %br.clear
.form_line
  .field_25
    =employment.label :hired_by, "Hired By"
    =employment.text_field :hired_by, :class=>"find_person_field", :update=>"recruiter_container"
  .field_25
    =employment.label :hired_by, "Recruiter"
    %input#recruiter_container{:disabled=>true}
  .field_25
    =employment.label :report_to, "Report To"
    =employment.text_field :report_to, :class=>"find_person_field", :update=>"supervisor_container"
  .field_25
    =employment.label :report_to, "Supervisor"
    %input#supervisor_container{:disabled=>true}
  %br.clear
.form_line
  .field_25
    =employment.label :position_status, "Position Status"
    =employment.text_field :position_status
  .field_75
    =employment.label :duties_resposibilities, "Duties and Responsibilities"
    =employment.text_field :duties_resposibilities
  %br.clear


.form_line
  .field_full.center Payment


.form_line
  .field_25
    =employment.label :weekly_nominal_hours, "Nominal Hours"
    =employment.text_field :weekly_nominal_hours
  .field_25
    =employment.label :hourly_rate, "Hourly Rate"
    =employment.text_field :hourly_rate
  .field_25
    =employment.label :annual_base_salary, "Annual Base Salary"
    =employment.text_field :annual_base_salary, :disabled=>true
  .field_25
    =employment.label :plus_package, "Package Plus"
    =employment.text_field :plus_package
  %br.clear
.form_line
  .field_25
    =employment.label :payment_frequency, "Payment Frequency"
    =employment.text_field :payment_frequency
  .field_25
    =employment.label :payment_method, "Payment Method"
    =employment.text_field :payment_method
  .field_25
    =employment.label :payment_day, "Payment Day"
    =employment.text_field :payment_day
  %br.clear


.form_line
  .field_full.center Suspension



.form_line
  .field_25
    =employment.label :suspension_start_date, "Start Date"
    =employment.text_field :suspension_start_date, :class=>"datepick"
  .field_25
    =employment.label :suspension_end_date, "End Date"
    =employment.text_field :suspension_end_date, :class=>"datepick"
  .field_25
    =employment.label :suspended_by, "Suspended By (ID)"
    =employment.text_field :suspended_by, :class=>"find_person_field", :update=>"suspender_container"
  .field_25
    =employment.label :suspended_by, "Suspender Name"
    %input#suspender_container{:disabled=>true}
  %br.clear
.form_line
  .field_25
    =employment.label :suspension_type, "Suspension Type"
    =employment.text_field :suspension_type
  .field_25
    =employment.label :suspension_reason, "Suspension Reason"
    =employment.text_field :suspension_reason
  .field_50
    =employment.label :suspension_remarks, "Suspension Remarks"
    =employment.text_field :suspension_remarks
  %br.clear



.form_line
  .field_full.center Termination




.form_line
  .field_25
    =employment.label :termination_notice_date, "Notice Date"
    =employment.text_field :termination_notice_date, :class=>"datepick"
  .field_25
    =employment.label :termination_date, "Termination Date"
    =employment.text_field :termination_date, :class=>"datepick"
  .field_25
    =employment.label :terminated_by, "Terminated By (ID)"
    =employment.text_field :terminated_by, :class=>"find_person_field", :update=>"terminator_container"
  .field_25
    =employment.label :terminated_by, "Terminator Name"
    %input#terminator_container{:disabled=>true}
  %br.clear
.form_line
  .field_25
    =employment.label :termination_method, "Termination Method"
    =employment.text_field :termination_method
  .field_25
    =employment.label :termination_reason, "Termination Reason"
    =employment.text_field :termination_reason
  .field_50
    =employment.label :terminated_remarks, "Termination Remarks"
    =employment.text_field :termination_remarks
  %br.clear