-# Displays An Employment
-div_for(employment, :class => 'info_container') do
  .header_container
    .title
      %h3= employment.organisation.full_name
    .options{:class => 'person_employments_edit_delete'}
      = link_to image_tag('edit_icon.png'), edit_employment_path(employment), :class => 'get' ,:id => 'employments_edit_button'
    %br{ :style => "clear:both;"}
  .display_container
    = format_employment(employment)