.container
  %h1 Nightly Process

  %p
    This function is for testing only.
  %p{:style => "text_align:centre;"}
    = submit_tag "Test Nightly Process", :class => "ajax_call", :method => "GET", :url => "nightly_processes/run", :id => "run_nightly_process"
  %p#output