.container
  %h1 Nightly Process

  %p
  
  %p{:style => "text_align:centre;"}
    .div{:class=>"spinner",:style=>"display:none",:id=>"nightly_process_spinner"}
    = submit_tag "Nightly Process", :id => "run_nightly_process"
  %p#output