.container
  %h1 Nightly Process

  %p

  %p{:style => "text_align:centre;"}
    = submit_tag "Nightly Process", :class => "ajax_call", :method => "GET", :url => "nightly_processes/run", :id => "run_nightly_process"
  %p#output