.full_container
  .options
    = link_to_function image_tag('close_icon.png'), :style => "display:none;", :field => "allocation_type", :title=>"Close", :class => "close_option", :toggle_id_name => "new_allocation_type_form"
  .title
    = link_to_function image_tag('add_icon.png', :size=> "22x22"), :class => "ajax_call new_option", :field => "allocation_type", :title => "New", :method => "GET", :url => "/allocation_types/new_allocation_type"
    &nbsp
  %h2 New Allocation Type
  #new_allocation_type_form{:style => "float:left;"}