.container
  %h1 Hint
  %p{:style => "margin:10px 0;"}
    There are existing person with same duplication vaule. Here are three options:
    %br 1. continue by click "Continue Button"
    %br 2. select one for edit by click "Edit One"
    %br 3. create a one record by click "Create New"
  %table#person_check_field