-# Displays for Role Details
-div_for(person_role, :class => 'header_container') do
  %div
    .title
      %h2= person_role.role.name
  .div{:style => "float:right;"}
    = format_role(person_role)

 