-# Displays A Relationship
-div_for(person_relationship_show) do
  %div.id_container
    = person_relationship_show.id
  %div.name_container
    = person_relationship_show.name
  %br{ :style => "clear:both;"}
  