-#The container for a Relationship Type
%div{:id => type.gsub(/ /,'').underscore, :class=>"header_container"}
  %div
    .title
      %h2{:class=>("red" if !RelationshipType.find_by_name(type).nil? and RelationshipType.find_by_name(type).to_be_removed == true)}
        =type
    %br{ :style=>"clear: both;"}
  - if type == "Siblings" || type == "Children"
    -# Displays A Relationship
      %div.id_container
        = relations.id
      %div.name_container
        = relations.name
  %br{ :style => "clear:both;"}
  - else
    = render :partial => 'people/person_relationship_show', :collection => relations