%div{:id => "accordion02"}
  %h3
    %a{:href => "#"}
      %h1 Receipting
  %div.container
    .container
      %h2 Last Transaction
      .form_line
        .field_31
          %label Date
          .display_field_bg

        .field_31
          %label Amount
          .display_field_bg

        .field_31
          %label Status
          .display_field_bg

    .container
      %h2 YTD Total
      .form_line
        .field_31
          %label NO.Transactions
          .display_field_bg

        .field_31
          %label Amount
          .display_field_bg

        .field_31
          %label Average Transaction
          .display_field_bg
            






  %h3
    %a{:href => "#"}
      %h1 Membership
  %div.container

  %h3
    %a{:href => "#"}
      %h1 Fundrainsing
  %div.container

  %h3
    %a{:href => "#"}
      %h1 Case Management
  %div.container

  %h3
    %a{:href => "#"}
      %h1 Events
  %div.container