-# Displays An Address
-div_for(person_address, :class => 'header_container') do
  %div
    .title
      %h2= person_address.address_type.name
  %div{:style => "float:right;"}
    = format_address(person_address)