
/show personal notes details
- if !@person.sorted_notes.blank?
  %input.hidden{:id => "note_mode", :mode => "show"}
  %table#show_notes_grid{:class => "selectable_grid", :db_click_function => "true", :db_click_url => "/notes/show_note/",:db_show=>"true",:field=>"note"}
  %br
  #show_person_note{:class => "header_container", :style => "display:none;"}
    =render :partial => 'show_note_in_profile'

- else
  .no_record
    %h1 No Record




%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
      $("#show_notes_grid").flexigrid({
      url: '/grids/show_notes_grid?entity_id=#{@person.id}&type=#{@person.class.to_s}',
      dataType: 'json',
      colModel : [
      {
      display: 'ID',
      name : 'id',
      width : 40,
      sortable : true,
      align: 'left'
      },
      {
      display: 'Type',
      name : 'amazon_settings.name',
      width : 60,
      sortable : true,
      align: 'left'
      },
      {
      display: 'Label',
      name : 'label',
      width : 60,
      sortable : true,
      align: 'left'
      },

      {
      display: 'Body Text',
      name : 'body_text',
      width : 180,
      sortable : true,
      align: 'left'
      },
      {
      display: 'Status',
      name : 'active',
      width : 40,
      sortable : true,
      align: 'left'
      }
      ],
      searchitems : [
      {
      display: 'Label',
      name : 'label'
      },

      {
      display: 'Type',
      name : 'amazon_settings.name'
      },

      {
      display: 'Body Text',
      name : 'body_text'
      },
      {
      display: 'Active',
      name : 'Active'
      }
      ],
      sortname: "id",
      sortorder: "asc",
      usepager: true,
      useRp: true,
      rp: 20,
      showTableToggleBtn: false,
      width: 'auto',
      height: 'auto'
      });

