-# Displays An Address
-div_for(person_master_doc, :class => 'header_container') do
  %div
    .title
    %h2
      person_master_doc.master_doc_type.nil? ? "#{person_master_doc.id} #{person_master_doc.master_doc_type.name}" : "#{person_master_doc.id}"
 

  %div{:style => "float:right;"}
    = format_masterdoc(person_master_doc)