-# Displays An Keyword
-if !@person.keywords.blank?
  -@person.keywords.each do |person_keyword|
    -div_for(person_keyword, :class => 'header_container') do
      %div
        .title
          %h2{:class=>("red" if person_keyword.keyword_type.to_be_removed == true)}= person_keyword.keyword_type.name unless (person_keyword.blank? || person_keyword.keyword_type.nil?)
      %div{:style => "float:right;"}
        = format_keyword(person_keyword)
-else
  .no_record
    %h1 No Record