.header
  .title
%br
%table#search_list_results{:current_operation => "#{current_operation}"}
%br
%p.submit
  = submit_tag 'Select to Edit', :style => 'float:right;', :id => "edit_list_select"
  = submit_tag 'Select to Profile', :style => 'float:right;',:id => "show_list_select"
%br.clear
