<% unless @master_doc_meta_types.nil? %>
  <%  result = String.new %>
  <% for mdmt in @master_doc_meta_types %>
    <% result += "<option value='#{mdmt.id}'>#{mdmt.name}</option>" %>
  <% end %>
  $("#master_doc_meta_type_id").html('<%=escape_javascript("#{result}")%>')
<% else %>
  $("#master_doc_meta_type_id").html('<option></option>')
<% end -%>