#header
  #page_title
    %h1 Find Results
  #lol


= render :partial => "search_results", :locals => {:people => @people}
%p.table_back= link_to_function '« Back to "Find Person"', "history.back()"

.container
  = jqgrid("Find Results", "result_grid", "/people/test_search", [{:field => "id", :label => "ID", :width => 35, :resizable => false}, { :field => "first_name", :label => "Firstname" }, { :field => "family_name", :label => "Lastname" }])