#header
  #page_title
    %h1 Find Results
  #lol

%div#hover
  = (render :partial => "name_card", :locals => {:person => @people.first}) unless @people.empty?

.full_container
  %table#people_search_grid
  %p{:style=>"margin-top:10px;text-align:center;"}
    = "Double click to select"