
.form_line
  .field_25
    = label_tag :new_group_message, "New Group Save"
     
  %br.clear


-# -form_for , :url=> {:controller => 'groups',:action => @group.new_record? ? 'create' : 'update', :id => @group.id}, :html => {:class => 'ajax_form'} do |group|