@charset "utf-8";
@import url("reset.css");
/* CSS Document */

body {
	background-image:url(../images/body_bg.jpg);
	background-position: top left;
	background-repeat:no-repeat;
	background-color: #030A13;
}


/* app - centralizes the interface in the browser */
#app {
	min-width: 1100px;
	max-width: 1400px;
	margin: auto;
	min-height: 500px;
}

/* left collumn area and related css */
#app #lc {
	min-width: 200px;
	max-width: 250px;
	width: 10%;
	min-height: 500px;
	float: left;
	margin-top: 125px;
}

/* menu related tags */
#app #lc #menu, #app #lc #menu li {
	float: right;
}

#app #lc #menu li .item {
	background-color: #f6f6f6;
	background-image:url(../images/menu_item.png);
	background-position:right;
	background-repeat: repeat-y;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	width: 110px;
	height: 40px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	color: #666;
}

/* Menu - Active menu item */
#app #lc #menu #menu_active .top {
	background-image:url(../images/corner_top.png);
	background-position: bottom right;
	background-repeat:no-repeat;
	height: 15px;
	width: 190px;
}

#app #lc #menu #menu_active .item {
	background-color: #f6f6f6;
	height: 120px;
	width: 180px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	background-image: none;
	padding: 5px;
}

	#app #lc #menu #menu_active .item ul {
	float:left;
	display:block;
	padding:2px
	}

#app #lc #menu #menu_active .item li {
	float: left;
	padding: 2px 4px 2px 2px;
}


#app #lc #menu #menu_active .bottom {
	background-image:url(../images/corner_bottom.png);
	background-position: top right;
	background-repeat:no-repeat;
	height: 15px;
	width: 190px;
}


/* main area */
#app #main {
	min-width: 900px;
	max-width: 1150px;
	width: 80%;
	min-height: 500px;
	float:left;
}

/* System Bar */

#sysbar {
	background-image:url(../images/sysbar_bg.jpg);
	background-repeat:repeat-x;
	width: 100%;
	height: 50px;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 0px 10px;
	-moz-border-radius: 15px;
}

#app #main #sysbar .bar_section:first-child {
	border-left: none;
	width: 17%;
	background-image:url(../images/icon_black.png);
	background-repeat:no-repeat;
	background-position: 35px 5px;
}

#app #main #sysbar .bar_section {
	padding: 0.5%;
	height: 40px;
	width: 37%;
	background-color: transparent;
	display: inline-block;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FFF;
	border-left-color: #BBB;
	margin-left: 0px;
	line-height: 35px;
	float:left;
}
#app #main #sysbar .bar_section:last-child {
	border-right: none;	
	width: 4%;
}
/*------------------------------*/
/* ---- SYSTEM MODULE MENU -----*/
/*------------------------------*/

#app #main #sysbar .bar_section #module_menu #module_menu_top {
	height: 32px;
	cursor: pointer;
}
#app #main #sysbar .bar_section #module_menu #module_menu_items #module_menu_connector #module_menu_connector_1 {
	background-color: #f6f6f6;
	display: block;
	float: left;
	height: 13px;
	width: 30px;
}
#app #main #sysbar .bar_section #module_menu #module_menu_items #module_menu_connector #module_menu_connector_2 {
	background-color: #F6f6f6;
	
	background-repeat: no-repeat;
	background-position: right bottom;
	width:100%;
	height:10px;
	float:left;
}


#app #main #sysbar .bar_section #module_menu #module_menu_connector {
	background-image: url(../images/module_menu_connector.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	margin-left: -10px;
	background-color: transparent;
	margin: 0;
	width: 100%;
	z-index:999;
	position: relative;
	height:23px;
	}
#app #main #sysbar .bar_section #module_menu #module_menu_items {
	margin-left: -10px;
	background-color: transparent;
	margin: -0px 0 0 -15px;
	width: 100%;
	z-index:999;
	position: relative;
	display: none;
	}
#app #main #sysbar .bar_section #module_menu #module_menu_items ul {width:100%; box-shadow: 5px 5px #CCC;}
#app #main #sysbar .bar_section #module_menu #module_menu_items li {background-color:#f6f6f6; height:40px; padding: 0 0 0 10px; border-bottom: 1px solid #ccc;}
#app #main #sysbar .bar_section #module_menu #module_menu_items li:first-child {margin-top: 3px; -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px;}
#app #main #sysbar .bar_section #module_menu #module_menu_items li:last-child { -moz-border-radius-bottomleft:10px; -moz-border-radius-bottomright:10px;}

#app #main #sysbar .bar_section #module_menu #module_menu_items li.hover { background: transparent url(../images/module_menu_hover.jpg) repeat-x;}






/* Content Area */

#content {
	background-color: #f6f6f6;
	width:100%;
	height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	-moz-border-radius: 15px;
}
