<!-- Copyright (c) 2007 [Sur http://expressica.com] -->

<div id='simple_captcha'>
  <div class="form_line">
    <div id="captcha_image">
    <%= @simple_captcha_options[:image] %>
    </div>
    <a href="#" id="regenerate_captcha"><%= image_tag ("/images/reload.png") , :title=> "Regenerate Code" %> </a>
  </div>
  
  <div class='form_line'>
    <label id="label"><span class="asterisk">*</span><%= @simple_captcha_options[:label] %></label>
    <%= @simple_captcha_options[:field] %>
  </div>
  
  
  </div>

