Congratulations on creating your brand new account, <br style="clear: both;"/>
your username is <%=@login_account.user_name  %> <br style="clear: both;"/>
your password is <%=@password%> <br style="clear: both;"/>
Enjoy! Agraphy TV <br style="clear: both;"/>
