-# :locals => {:level}
.full_container
  %input.hidden{:id=>"organisation_relationship_mode",:mode=>"show"}
  #org_structure_nav
    #nav_level_0.nav_item.active
      .label #{ClientSetup.label_0}
      .name
      .reset

    #nav_level_1.nav_item
      .label
      .name
      .reset
            
    #nav_level_2.nav_item
      .label
      .name
      .reset
            
    #nav_level_3.nav_item
      .label
      .name
      .reset
    #nav_level_4.nav_item
      .label
      .name
      .reset
    #nav_level_5.nav_item
      .label
      .name
      .reset
    #nav_level_6.nav_item
      .label
      .name
      .reset
    #nav_level_7.nav_item
      .label
      .name
      .reset
    #nav_level_8.nav_item
      .label
      .name
      .reset
    #nav_level_9.nav_item
      .label
      .name
      .reset
  #main_container.full_container{:style => "width:78%;float:left;min-height:200px;"}
    = render :partial=> '/organisation_relationships/show_zero_organisations',:locals=>{:level =>level}


