-# :locals => {:level}
.full_container
  %input.hidden{:id=>"organisation_relationship_mode",:mode=>"show"}
  #nav{:style => "width:20%;float:left;"}
    #nav_level_0.nav_item
      .label Level 0 - #{ClientSetup.label_0}
      .name{:style=>"float:left"}
      .reset{:style=>"float:right"}

    #nav_level_1.nav_item
      .label
      .name{:style=>"float:left"}
      .reset{:style=>"float:right"}
            
    #nav_level_2.nav_item
      .label
      .name{:style=>"float:left"}
      .reset{:style=>"float:right"}
            
    #nav_level_3.nav_item
      .label
      .name{:style=>"float:left"}
      .reset{:style=>"float:right"}
    #nav_level_4.nav_item
      .label
      .name{:style=>"float:left"}
      .reset{:style=>"float:right"}
    #nav_level_5.nav_item
      .label
      .name{:style=>"float:left"}
      .reset{:style=>"float:right"}
    #nav_level_6.nav_item
      .label
      .name{:style=>"float:left"}
      .reset{:style=>"float:right"}
    #nav_level_7.nav_item
      .label
      .name{:style=>"float:left"}
      .reset{:style=>"float:right"}
    #nav_level_8.nav_item
      .label
      .name{:style=>"float:left"}
      .reset{:style=>"float:right"}
    #nav_level_9.nav_item
      .label
      .name{:style=>"float:left"}
      .reset{:style=>"float:right"}
  #main_container.full_container{:style => "width:78%;float:left;min-height:200px;"}
    = render :partial=> '/organisation_relationships/show_zero_organisations',:locals=>{:level =>level}


