-# :locals => {:level, target=client/other}
.full_container
  #nav{:style => "width:20%;float:left;"}
    #nav_level_0.nav_item
      .label Level 0 - #{ClientSetup.client_label_0}
      .name #{@organisation.full_name}
    #nav_level_1.nav_item
      .label Level 1 - #{ClientSetup.client_label_1}
      .name
    #nav_level_2.nav_item
      .label
      .name
    #nav_level_3.nav_item
      .label
      .name
    #nav_level_4.nav_item
      .label
      .name
    #nav_level_5.nav_item
      .label
      .name
    #nav_level_6.nav_item
      .label
      .name
    #nav_level_7.nav_item
      .label
      .name
    #nav_level_8.nav_item
      .label
      .name
    #nav_level_9.nav_item
      .label
      .name
  #main_container.full_container{:style => "width:78%;float:left;min-height:200px;"}
    = render :partial=> '/organisation_relationships/show_organisation_details',:locals=>{:level =>@next_level, :target => @target}

