-# :locals => {:level}
.full_container
  #org_structure_nav
    #nav_level_0.nav_item
      .label Level 0 - #{ClientSetup.client_label_0}
      .name #{@organisation.full_name}
    #nav_level_1.nav_item.active
      .label Level 1 - #{ClientSetup.client_label_1}
      .name
      .reset
    #nav_level_2.nav_item
      .label
      .name
      .reset
    #nav_level_3.nav_item
      .label
      .name
      .reset
    #nav_level_4.nav_item
      .label
      .name
      .reset
    #nav_level_5.nav_item
      .label
      .name
      .reset
    #nav_level_6.nav_item
      .label
      .name
      .reset
    #nav_level_7.nav_item
      .label
      .name
      .reset
    #nav_level_8.nav_item
      .label
      .name
      .reset
    #nav_level_9.nav_item
      .label
      .name
      .reset
  #main_container.full_container{:style => "width:78%;float:left;min-height:200px;"}
    = render :partial=> '/organisation_relationships/show_organisation_details',:locals=>{:level => level}

