.full_container
  %h2 Existing Receipt Accounts

  %table#show_receipt_accounts_grid{:class => "selectable_grid",:db_click_function => "true", :db_click_url => "/receipt_accounts/edit_receipt_account.js", :field => "receipt_account"}

%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
    delete_from_a_grid = function(){
    delete_from_grid($("#show_receipt_accounts_grid tr.trSelected").attr('id'),"#receipt_account_mode","get","/receipt_accounts/destroy_receipt_account/");
    };

    retrieve_from_a_grid = function(){
    retrieve_from_grid($("#show_receipt_accounts_grid tr.trSelected").attr('id'),"#receipt_account_mode","get","/receipt_accounts/retrieve_receipt_account/");
    };

    $("#show_receipt_accounts_grid").flexigrid({
    url: '/grids/show_receipt_accounts_grid',
    dataType: 'json',
    colModel : [
    {
    display: 'ID',
    name : 'id',
    width : 40,
    sortable : true,
    align: 'left'
    },

    {
    display: 'Name',
    name : 'receipt_accounts.name',
    width : 130,
    sortable : true,
    align: 'left'
    },

    {
    display: 'Description',
    name : 'description',
    width : 150,
    sortable : true,
    align: 'left'

    },
    {
    display: 'Receipt Account Type',
    name : 'receipt_account_type_id',
    width : 110,
    sortable : true,
    align: 'left'

    },

    {
    display: 'Link Module',
    name : 'amazon_settings.name',
    width : 80,
    sortable : true,
    align: 'left'
    },

    {
    display: 'Post to History',
    name : 'post_to_history',
    width : 90,
    sortable : true,
    align: 'left'
    },

    {
    display: 'Post to Campaign',
    name : 'post_to_campaign',
    width : 100,
    sortable : true,
    align: 'left'
    },

    {
    display: 'Send Receipt',
    name : 'send_receipt',
    width : 100,
    sortable : true,
    align: 'left'
    },

    {
    display: 'Status',
    name : 'status',
    width : 60,
    sortable : true,
    align: 'left'
    }
    ],
    searchitems : [
    {
    display: 'Name',
    name : 'receipt_accounts.name'
    },

    {
    display: 'Description',
    name : 'description'

    },

    {
    display: 'Link Module',
    name : 'amazon_settings.name'
    },

    {
    display: 'Post to History',
    name : 'post_to_history'
    },

    {
    display: 'Post to Campaign',
    name : 'post_to_campaign'
    },

    {
    display: 'Send Receipt',
    name : 'receipt'
    },

    {
    display: 'Status',
    name : 'status'
    }
    ],
    buttons : [
            {name: '', bclass: 'delete delete_button_on_grid', onpress : delete_from_a_grid},
            {name: '', bclass: 'get retrieve_button_on_grid', onpress : retrieve_from_a_grid}
        ],
    sortname: "receipt_accounts.id",
    sortorder: "asc",
    usepager: true,
    useRp: true,
    rp: 20,
    showTableToggleBtn: false,
    width: 'auto',
    height: 'auto'
    });

