.full_container
  %h1 Existing System Data
  %table#show_system_data_grid{:class => "selectable_grid",:field=>'system_data',:db_click_function =>"true",:db_show=>"true",:db_click_url=>"/amazon_settings/system_data_entry_finder/"}
%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
    delete_from_a_grid = function(){
    delete_from_grid($("#show_system_data_grid tr.trSelected").attr('id'),"#system_data_mode","get","/amazon_settings/delete_system_data_entry");
    };

    retrieve_from_a_grid = function(){
    retrieve_from_grid($("#show_system_data_grid tr.trSelected").attr('id'),"get","/amazon_settings/retrieve");
    };

    $("#show_system_data_grid").flexigrid({
      url: '/grids/show_system_data_grid?type=#{@type}',
      dataType: 'json',
      colModel : [
      {
      display: 'ID',
      name : 'id',
      width : 40,
      sortable : true,
      align: 'left'
      },

      {
      display: 'Name',
      name : 'name',
      width : 570,
      sortable : true,
      align: 'left'
      },

      {
      display: 'Description',
      name : 'description',
      width : 270,
      sortable : true,
      align: 'left'
      }

      ],
      buttons : [
              {name: '', bclass: 'delete delete_button_on_grid', onpress : delete_from_a_grid},
              {name: '', bclass: 'get retrieve_button_on_grid', onpress : retrieve_from_a_grid}
          ],
      searchitems : [
      {
      display: 'Name',
      name : 'name'
      },

      {
      display: 'Description',
      name : 'description'
      },
      ],

      sortname: "name",
      sortorder: "asc",
      usepager: true,
      title: '',
      useRp: true,
      rp: 20,
      showTableToggleBtn: false,
      width: 'auto',
      height: 'auto'
      });

