.info_container{:style => "width:50%;"}
  #left
    %h3 System Data
    .form_line
      .field_80
        %label Data Type
        %select{:id => "find_data_list_field"}
          %option
          = AmazonSetting.distinct_setting_type
      %br.clear
    .form_line
      .field_80
        %label Data List
        %select{:size => "20", :id => "data_list_field"}
  #right
    %div#feedback{:style => "height:75px;"} &nbsp;
    %div#setting

  %br.clear
  