<%- unless @amazonsettings.blank? %>
  <% options = String.new %>

  <%- if (@amazonsetting.new_record?) %>
    <% options += "<option value='0' selected='true'> << Add New >> </option>" %>
  <%- else %>
    <% options += "<option value='0'> << Add New >> </option>" %>
  <%- end %>

  <%- for setting in @amazonsettings %>

    <%- if (@amazonsetting.id == setting.id) %>
      <% options += "<option value='#{setting.id}' selected='true'>#{setting.name}</option>" %>
    <%- else %>
      <% options += "<option value='#{setting.id}'>#{setting.name}</option>" %>
    <%- end %>

  <%- end %>
  $("#data_list_field").html('<%=escape_javascript("#{options}")%>');
  $("#data_list_field").change();
<%- else %>
  $("#data_list_field").html('');
  $("#setting").html('');
<%- end %>
