<% if @groups.new_record? %>
  $("#group_id").html('')
  $("#group_id").change()

<% else %>

  <%  result = String.new %>
  <% for gt in @groups %>
    <% result += "<option value='#{gt.id}'>#{gt.name}</option>" %>

  <%end%>
  $("#group_id").html('<%=escape_javascript("#{result}")%>')
  $("#group_id").change()



<% end -%>