%h1 Membership Logs
%table#show_membership_log_grid{:class=>"selectable_grid",:field=>"log"}

%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
    $("#show_membership_log_grid").flexigrid({
    url: '/grids/show_membership_logs_grid?#{@query}',
    dataType: 'json',
    colModel : [
    {
        display: 'ID',
        name : 'id',
        width : 40,
        sortable : true,
        align: 'left'
    },

    {
        display: 'Person ID',
        name : 'person_id',
        width : 100,
        sortable : true,
        align: 'left'
    },

    {
        display: 'Action',
        name : 'action',
        width : 100,
        sortable : true,
        align: 'left'
    },
    {
        display: 'Pre-Status',
        name : 'pre_status',
        width : 100,
        sortable : true,
        align: 'left'
    },
    {
        display: 'Post-Status',
        name : 'post_status',
        width : 100,
        sortable : true,
        align: 'left'
    },
    {
        display: 'Performer ID',
        name : 'performer_id',
        width : 100,
        sortable : true,
        align: 'left'
    },
    {
        display: 'Performed At',
        name : 'performed_at',
        width : 100,
        sortable : true,
        align: 'left'
    }
    ],
    searchitems : [


    {
        display: 'Pre-Status',
        name : 'pre_status'
    },


    {
        display: 'Post-Status',
        name : 'post_status'
    }

    ],

    sortname: "performed_at",
    sortorder: "desc",
    usepager: true,
    useRp: true,
    rp: 20,
    showTableToggleBtn: false,
    width: 'auto',
    height: 'auto'
    });
