.info_container
  %h3 Tag Meta Types
  .form_line
    .field_20
      %label Tag Meta Type
      %select#render_tag_meta_type
        %option{:value => "0"} << Add New >>
        - @tag_meta_types.each do |i|
          %option{:value=>"#{i.id}"} #{i.name}
    #tag_meta_type
      =render :partial => "/tag_settings/tag_meta_type"
    %br.clear

%div#tag_type
    
%div#tag
