.info_container
  %div
    .info_container
      %h3 Please select a system tag to continue
      .form_line
        .field_25
          %select#tag_selection.clear_select
            %option
            %option{:value => "0"} Master Doc / Role Condition
            -#%option{:value => "1"} Group
            -#%option{:value => "2"} Fee
        .field_70
          #tag_flash
        %br.clear

    #show_tag
  %button{:type => "button", :id => "fake", :style => "display:none;float:right;margin-right:20px;"} Submit
  %br.clear
        
        