-form_for @tag, :url => {:controller => 'tags', :action => @tag.new_record? ? "create" : "update", :id => @tag.id}, :html => {:id => "tag_form2", :class => 'ajax_form'} do |tag|
  .container{:style => "background-image:none;"}
    .form_line
      .field_100
        =tag.label :name, "<span class='asterisk'>*</span>Name"
        =tag.text_field :name,:id=>"tag_name",:class=>'mandantory_field',:mandantory_field1=>"tag_name",:submit_button_id=>"tag_new_submit", :disabled=>(@tag.status == false)

    .form_line
      .field_100
        =tag.label :category, 'Category'
        =tag.text_field :category, :disabled=>(@tag.status == false)
 
    .form_line
      .field_100
        =tag.label :description, 'Description'
        =tag.text_field :description, :disabled=>(@tag.status == false)
   
    .form_line
      .field_5
        %label &nbsp
        - if @tag.new_record?
          = tag.check_box :status, :checked => true
        -else
          = tag.check_box :status
      .field_5
        %label &nbsp
        = tag.label :status, 'Active', :style => "margin-top:5px;"
        
        %input{:style => "display:none", :id => "type", :name =>"type", :value => @tag.class.to_s}
        %input{:style => "display:none", :id => "tag_type", :name =>"tag_type", :value => @tag_type.class.to_s}
        %input{:style => "display:none", :id => "tag_type_id", :name =>"tag_type_id", :value => @tag_type.id}
      %br.clear
    = submit_tag 'Submit', :style => "width:75px;",:id=>"tag_new_submit",:disabled =>true