-form_for @tag_meta_type, :url=> {:controller => 'tag_meta_types', :action => @tag_meta_type.new_record? ? "create" : "update", :id => @tag_meta_type.id}, :html => {:class => 'ajax_form', :id => "tag_meta_type_form2"} do |tag_meta_type|
  .container{:style => "background-image:none;"}
    .form_line
      .field_100
        =tag_meta_type.label :name, "<span class='asterisk'>*</span>Name"
        =tag_meta_type.text_field :name,:id=>"tag_meta_type_name",:class=>'mandantory_field',:mandantory_field1=>"tag_meta_type_name",:submit_button_id=>"tag_meta_type_new_submit", :disabled=>@tag_meta_type.status == false

    .form_line
      .field_100
        =tag_meta_type.label :category, 'Category'
        =tag_meta_type.text_field :category, :disabled=>@tag_meta_type.status == false
        
    .form_line
      .field_100
        =tag_meta_type.label :description, 'Description'
        =tag_meta_type.text_field :description, :disabled=>@tag_meta_type.status == false

    .form_line
      .field_5
        %label &nbsp
        - if @tag_meta_type.new_record?
          = tag_meta_type.check_box :status, :checked => true
        -else
          = tag_meta_type.check_box :status
      .field_5
        %label &nbsp
        = tag_meta_type.label :status, 'Active', :style => "margin-top:5px;"

        %input{:style => "display:none", :id => "type", :name =>"type", :value => @tag_meta_type.class.to_s}

    = submit_tag 'Submit', :style => "width:75px;",:id=>"tag_meta_type_new_submit",:disabled=>true 