-form_for @tag_type, :url => {:controller => 'tag_types', :action => @tag_type.new_record? ? "create" : "update", :id => @tag_type.id}, :html => {:id => "tag_type_form2", :class => 'ajax_form'} do |tag_type|
  .container{:style => "background-image:none;"}
    .form_line
      .field_100
        =tag_type.label :name, "<span class='asterisk'>*</span>Name"
        =tag_type.text_field :name,:id=>"tag_type_name",:class=>'mandantory_field',:mandantory_field1=>"tag_type_name",:submit_button_id=>"tag_type_new_submit", :disabled=>(@tag_type.status == false)

    .form_line
      .field_100
        =tag_type.label :category, 'Category'
        =tag_type.text_field :category, :disabled=>(@tag_type.status == false)

    - if @category == "Group"
      .form_line{:style => "height:auto;"}
        .field_100{:style => "height:auto;"}
          =tag_type.label :description, 'Description'
          =tag_type.text_area :description, :disabled=>(@tag_type.status == false), :style => "height:100px;width:96%;"
    - else
      .form_line
        .field_100
          =tag_type.label :description, 'Description'
          =tag_type.text_field :description, :disabled=>(@tag_type.status == false)

    

    .form_line
      .field_5
        %label &nbsp
        - if @tag_type.new_record?
          = tag_type.check_box :status, :checked => true
        -else
          = tag_type.check_box :status
      .field_5
        %label &nbsp
        = tag_type.label :status, 'Active', :style => "margin-top:5px;"
        
        %input{:style => "display:none", :id => "type", :name =>"type", :value => @tag_type.class.to_s}
        %input{:style => "display:none", :id => "tag_meta_type", :name =>"tag_meta_type", :value => @tag_meta_type.class.to_s}
        %input{:style => "display:none", :id => "tag_meta_type_id", :name =>"tag_meta_type_id", :value => @tag_meta_type.id}

    = submit_tag 'Submit', :style => "width:75px;",:id=>"tag_type_new_submit",:disabled=>true
