.info_container
  %div
    .info_container
      %h3 Please select a system tag to continue
      = button_to_function 'Add children', :id => "add_tag_meta_type", :style => "float:right;display:none;"
      %select#tag_selection.clear_select{:style => "width:300px;"}
        %option
        %option{:value => "0"} Master Doc / Role Condition
        -#%option{:value => "1"} Group
        -#%option{:value => "2"} Fee


    #show_tag

    #tag_meta_type_form{:style => "width:32%;margin-right:2%" }
      
    #tag_type_form{:style => "width:32%;margin-right:2%" }

    #tag_form{:style => "width:32%;margin-right:2%" }