.info_container
  %div
    .info_container
      %h3 Please select a system tag to continue
      = button_to_function 'Add children', :id => "add_tag_meta_type", :style => "float:right;display:none;"
      %select#tag_selection.clear_select{:style => "width:300px;"}
        %option
        %option{:value => "0"} Master Docs
        %option{:value => "0"} Role Conditions
        %option{:value => "1"} Groups
        %option{:value => "2"} Fees
        %option{:value => "3"} Tables
        %option{:value => "4"} Contacts
        %option{:value => "5"} System Permissions


    #show_tag

    #tag_meta_type_form{:style => "width:32%;margin-right:2%" }
      
    #tag_type_form{:style => "width:32%;margin-right:2%" }

    #tag_form{:style => "width:32%;margin-right:2%" }