-form_for @tag_type, :url => {:controller => 'tag_types', :action => @tag_type.new_record? ? "create" : "update", :id => @tag_type.id}, :html => {:id => "tag_type_form2", :class => 'ajax_form'} do |tag_type|
  %fieldset
    .form_line
      .field_100
        =tag_type.label :name, 'Name'
        =tag_type.text_field :name, :disabled=>(@tag_type.status == false)
      %br.clear
    .form_line
      .field_100
        =tag_type.label :category, 'Category'
        =tag_type.text_field :category, :disabled=>(@tag_type.status == false)
      %br.clear
    .form_line
      .field_100
        =tag_type.label :description, 'Description'
        =tag_type.text_field :description, :disabled=>(@tag_type.status == false)
      %br.clear
    .form_line
      .field_100
        =tag_type.label :status, 'Status'
        =tag_type.radio_button :status, true, :style => "width:10%", :checked => true
        %label{:style => "display:inline"} Active
        =tag_type.radio_button :status, false, :style => "width:10%"
        %label{:style => "display:inline"} Inactive
        %input{:style => "display:none", :id => "type", :name =>"type", :value => @tag_type.class.to_s}
        %input{:style => "display:none", :id => "tag_meta_type", :name =>"tag_meta_type", :value => @tag_meta_type.class.to_s}
        %input{:style => "display:none", :id => "tag_meta_type_id", :name =>"tag_meta_type_id", :value => @tag_meta_type.id}
      %br.clear
    = submit_tag 'Submit', :style => "width:75px;"
