-form_for([@tag_meta_type, @tag_type], :url => {:controller => 'tag_types', :action => @tag_type.new_record? ? "create" : "update", :id => @tag_type.id}, :html => {:class => 'ajax_form'}) do |tag_type|
  %fieldset
    %h3 Tag Types
    .form_line
      .field_20
        =tag_type.label :name, 'Tag Type'
        %select
          %option << New Record >>
      .field_20
        =tag_type.label :name, 'Tag Type Name'
        =tag_type.text_field :name
      .field_40
        =tag_type.label :description, 'Description'
        =tag_type.text_field :description
      .field_20
        =tag_type.label :status, 'Status'
        =tag_type.radio_button :status, true, :style => "width:10%", :checked => true
        %label{:style => "display:inline"} Active
        =tag_type.radio_button :status, false, :style => "width:10%"
        %label{:style => "display:inline"} Inactive
        %input{:style => "display:none", :id => "type", :name =>"type", :value => @tag_meta_type.class.to_s}
      %br.clear
    = submit_tag 'Submit'