.info_container
  %h3 Tags

  %div
    .info_container
      %h3 System Tags
      .form_line
        .field_20
          %select#tag_selection
            %option{:selected => true}
            %option MasterDoc
            -#%option Group
            -#%option Condition
            -#%option Fee
        .field_80
          #tag_flash
        %br.clear

    #show_tag
  %button{:type => "button", :id => "fake", :style => "display:none;float:right;margin-right:20px;"} Submit
  %br.clear
        
        