-form_for @tag_meta_type, :url=> {:controller => 'tag_meta_types', :action => @tag_meta_type.new_record? ? "create" : "update", :id => @tag_meta_type.id}, :html => {:class => 'ajax_form', :id => "tag_meta_type_form2"} do |tag_meta_type|
  .container
    .form_line
      .field_100
        =tag_meta_type.label :name, 'Name'
        =tag_meta_type.text_field :name, :disabled=>@tag_meta_type.status == false
      %br.clear
    .form_line
      .field_100
        =tag_meta_type.label :category, 'Category'
        =tag_meta_type.text_field :category, :disabled=>@tag_meta_type.status == false
      %br.clear
    .form_line
      .field_100
        =tag_meta_type.label :description, 'Description'
        =tag_meta_type.text_field :description, :disabled=>@tag_meta_type.status == false
      %br.clear
    .form_line
      .field_100
        = tag_meta_type.label :status, 'Status'
        - if @tag_meta_type.new_record?
          = tag_meta_type.check_box :status, :checked => true
        -else
          = tag_meta_type.check_box :status
        %label{:style => "display:inline"} Active
        %input{:style => "display:none", :id => "type", :name =>"type", :value => @tag_meta_type.class.to_s}
      %br.clear
    = submit_tag 'Submit', :style => "width:75px;"