.info_container
  %h3 Tags

  %div
    .info_container
      %h3 System Tags
      .form_line
        .field_20
          %select#tag_selection
            %option
            %option MasterDoc
            -#%option Group
            -#%option Condition
            -#%option Fee
        .field_80
          #tag_flash
        %br.clear

    #show_tag
        
        