-# Displays A Relationship
-div_for(person) do
  %div.id_container
    = person.id
  %div.name_container
    = person.name
  %div.delete_container{:class => "person_tag", :style => "display:none"}
    = link_to image_tag('/images/delete_icon.png'), remove_relation_person_relationships_path(@person,:related_person_id => person.id), :class => :delete
  %br{ :style => "clear:both;"}