-# Displays Organisation Account
-div_for(organisation_bank_account, :class => 'header_container') do
  %div  
    .title
      %h2

    %br.clear
  %div{:style => "float:right;"}
    = format_bank_account(organisation_bank_account)