-# Displays An Address
-div_for(organisation_address, :class => 'header_container') do
  %div
    .title
      %h2= organisation_address.address_type.name
  %div{:style => "float:right;"}
    = format_address(organisation_address)