#addresses
  - if !@organisation.addresses.blank?
    .title
      %h1 Address Details
    %br.clear
    - @organisation.addresses.each do |organisation_address|
      -div_for(organisation_address, :class => 'header_container', :field => "address") do
        %div
          .title
            %h2{:class=>("red" if organisation_address.address_type.to_be_removed == true)}= organisation_address.address_type.name
            
        %div{:style => "float:right;"}
          = format_address(organisation_address)
  - else
    .no_record
      %h1 No Record