-# Displays Organisation Master Doc
-div_for(organisation_master_doc, :class => 'header_container') do
  %div
    .title
      %h2= "#{organisation_master_doc.id} #{organisation_master_doc.master_doc_type.name}"
  %div{:style => "float:right;"}
    = format_masterdoc(organisation_master_doc)