.container{:style => "width:96%;padding:2%;"}
  %table#search_organisations_list_results{:current_operation => "#{current_operation}", :active_tab => "#{active_tab}",:active_sub_tab => "#{active_sub_tab}"}

