.container{:style => "height:100%;"}
  #show_grid_album_page
    .right{:style => "margin-bottom:3px;"}
      =link_to_function image_tag('Icons/Core/Person/tabs/notes_BW.png'), :class => "show_album", :page_show => "album", :page => 1 ,:url => "/grids/show_organisation_list_grid",:prev => "grid"
    %br.clear
    %table#search_organisations_list_results
%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
    $("#search_organisations_list_results").flexigrid(
    {
    url: '/grids/show_organisation_list_grid',
    dataType: 'json',
    colModel : [
    {display: 'ID', name : 'id', width : 40, sortable : true, align: 'left'},
    {display: 'Full Name', name : 'full_name', width : 120, sortable : true, align: 'left'},
    {display: 'Short Name', name : 'short_name', width : 120, sortable : true, align: 'left'},
    {display: 'Phone', name : 'primary_phone_num', width : 140, sortable : true, align: 'left'},
    {display: 'Email', name : 'primary_email_address', width : 140, sortable : true, align: 'left'}

    ],
    searchitems : [
    {display: 'Full Name', name : 'full_name'},
    {display: 'Short Name', name : 'short_name'},
    {display: 'Phone', name : 'primary_phone_num'},
    {display: 'Email', name : 'primary_email_address'}

    ],
    sortname: "id",
    sortorder: "asc",
    usepager: true,
    title: 'Organisation List',
    useRp: true,
    rp: 20,
    showTableToggleBtn: false,
    width: 'auto',
    height: 'auto'
    });



