#header
  #page_title
    %h1 Find Results
  #lol
  
= render :partial => "search_results", :locals => {:organisations => @organisations}
%p.table_back= link_to_function '« Back to "Find Organisation"', "history.back()"