.full_container
  .options
    = link_to_function image_tag('close_icon.png'), :style => "display:none;", :field => "geo_area", :title=>"Close", :class => "close_option"
  .title
    = link_to_function image_tag('add_icon.png', :size=> "22x22"), :class => "ajax_call new_option", :field => "geo_area", :title => "New",:param1 => "GeographicalArea", :method => "GET", :url => "/post_areas/new"
    &nbsp
  %h2 New Geographical Area
  #new_geo_area_form