.info_container
  %h3 Tags
  .form_line
    .field_20
      %label &nbsp;
      %ul
        - @tag.each do |t|
          %li
            %div#tag3{:tag_id => t.id}
              = t.name
              

      %br.clear
