.info_container#add_query
  = link_to image_tag('add_icon.png'), new_query_header_path(), :class => 'get', :style => "float:left;margin-right:10px;"
  %h3 Add New Query

.info_container#show_queries

.info_container#edit_query