<p><strong><span style="font-size: large;">Dear <%=@person.first_name%> <%=@person.family_name%></span></strong></p>
<p>&nbsp;</p>
<p><span style="color: #000000;"><span style="font-size: large;">This is a test letter.</span></span></p>
<p><span style="color: #000000;"><span style="font-size: large;">The main purpose of the Bank Run is changing the banking status (banked and bank_run_id) of a set of unbanked transactions and produces a set of predefined reports that may be used by banks to complete the process.<br /><br />Every completed Bank Run must be identified by a &ldquo;Bank Run ID&rdquo; that may be used on other parts of the system such as banking reports. Also, the bank run model or data table must keeps all related transactions data that may be used for other purposes such as &ldquo;Reverse a Bank Run&rdquo;.<br />What other information does bank run model keep?<br /></span></span></p>
<p><span style="color: #000000;"><br /></span></p>
<p><span style="color: #000000;"><span style="font-size: large;">Yours Sinerely</span></span></p>
<p><span style="font-size: large;"><span style="color: #ff0000;"><br /></span></span></p>
