// for person use
.full_container
  %h2 Mail Merge History

  %table#show_mail_logs_grid{:class => "selectable_grid"}

%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
    

    $("#show_mail_logs_grid").flexigrid({
    url: '/grids/show_mail_logs_grid',
    dataType: 'json',
    colModel : [
    {
    display: 'ID',
    name : 'id',
    width : 40,
    sortable : true,
    align: 'left'
    },

    {
    display: 'name',
    name : 'people.family_name',
    width : 160,
    sortable : true,
    align: 'left'
    },

    {
    display: 'channel',
    name : 'channel',
    width : 160,
    sortable : true,
    align: 'left'
    },

    {
    display: 'template',
    name : 'message_templates.name',
    width : 160,
    sortable : true,
    align: 'left'
    },

    {
    display: 'creator',
    name : 'login_accounts.user_name',
    width : 160,
    sortable : true,
    align: 'left'
    }

    ],
    
    sortname: "id",
    sortorder: "asc",
    usepager: true,
    title: '',
    useRp: true,
    rp: 20,
    showTableToggleBtn: false,
    width: 'auto',
    height: 'auto'
    });
 