//for person use

%div
  %input.hidden{:id => "mail_log_mode", :mode => "show"}
  #mail_log_filter
    = render :partial => "message_templates/person_mail_log_filter"
  
  #existing_mail_template
    = render :partial => "message_templates/existing_mail_logs"

 