%div
  .options
    = link_to_function image_tag('close_icon.png'), :style => "display:none;", :field => "mail_template", :title=>"Close", :class => "close_option", :toggle_id_name => "new_mail_template_form"
  .title
    = link_to_function image_tag('add_icon.png', :size=> "22x22"),:class => "ajax_call new_option", :field => "mail_template", :title => "new", :method => "GET", :url => "/message_templates/new"
    &nbsp;
  %h2 New Mail Template
  #new_mail_template_form{:style => "float:left;width:100%;"}