//for organisation use
%div
  %input.hidden{:id => "organisation_mail_log_mode", :mode => "show"}

  #org_mail_log_filter
    = render :partial => "message_templates/organisation_mail_log_filter"

  #existing_organisation_mail_template
    = render :partial => "message_templates/existing_organisation_mail_logs"

  
    
    