-# locals => {:query}
.full_container
  %h2 Organisation Mail Merge History
  %table#show_organisation_maillog_enquiry_grid.selectable_grid

%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
    $("#show_organisation_maillog_enquiry_grid").flexigrid({
    url: '/grids/show_organisation_maillog_enquiry_grid?#{query}',
    dataType: 'json',
    colModel : [
    {
    display: 'ID',
    name : 'id',
    width : 40,
    sortable : true,
    align: 'left'
    },

    {
    display: 'name',
    name : 'organisations.full_name',
    width : 160,
    sortable : true,
    align: 'left'
    },

    {
    display: 'channel',
    name : 'channel',
    width : 160,
    sortable : true,
    align: 'left'
    },

    {
    display: 'template',
    name : 'message_templates.name',
    width : 160,
    sortable : true,
    align: 'left'
    },


    {
    display: 'creator',
    name : 'login_accounts.user_name',
    width : 160,
    sortable : true,
    align: 'left'
    }

    ],
    sortname: "id",
    sortorder: "asc",
    usepager: true,
    useRp: true,
    rp: 20,
    showTableToggleBtn: false,
    width: 'auto',
    height: 'auto'
    });