-form_tag("/message_templates/person_mail_log_filter", {:class => "ajax_form", :id => "mail_log_filter_form"}) do
  .full_container
    %h1 Mail Log Filter

    .form_line
      .field_10
        %label Person_id
        %input{:id => "mail_log_filter_person_id", :value => "", :name => "mail_log_filter[person_id]",:class=>"integer_field"}
      .field_20
        %label Start_date
        %input{:class => "startdatepick",:id => "mail_log_filter_start_date",:end_date => "mail_log_filter_end_date", :value => "#{Date.today().last_year.to_s}", :name => "mail_log_filter[start_date]"}

      .field_20
        %label End_date
        %input{:class => "enddatepick",:id => "mail_log_filter_end_date",:start_date => "mail_log_filter_start_date", :value => "#{Date.today().to_s}", :name => "mail_log_filter[end_date]"}

      .field_15
        %label Creator
        %input{:id => "mail_log_filter_creator_username", :value => "#{@current_user.user_name}",:name => "mail_log_filter[creator_username]"}
      .field_15
        %label &nbsp
        =submit_tag 'submit'

