<%- if @entity_type == "person"%>
  <%- for @people in @entities%>
    <%= render(:inline => @content) %>
    <%if @people != @entities.last%>
      <div style="page-break-before: always;">&nbsp;</div>
    <%end%>
  <%end%>

<%else%>
  <%- for @organisations in @entities%>
    <%= render(:inline => @content) %>
    <%if @organisations != @entities.last%>
      <div style="page-break-before: always;">&nbsp;</div>
    <%end%>
  <%end%>
<%end%>