<%- if @entity_type == "person"%>
  <%- for @people in @entities%>
    <%= render(:partial => "create_mail_template.html.erb") %>
    <div style="page-break-after: always;">&nbsp;</div>
  <%end%>

<%else%>
  <%- for @organisations in @entities%>
    <%= render(:partial => "create_mail_template.html.erb") %>
    <div style="page-break-after: always;">&nbsp;</div>
  <%end%>
<%end%>