/*
    Document   : guest
    Created on : Apr 12, 2010, 11:29:14 AM
    Author     : matthew
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*root {
  display: block;
}*/

body {
  background-color: #C6D6E1;
  /*background-image: url(/images/bg3.jpg);*/
  background-repeat: repeat;
  background-position: center -300px;
}


h1 {
  color:#333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
  line-height: 1em;
  padding-bottom: 0px;
  margin-bottom: 5px;
}


#go_back_link{

  background-color: #154073;
  background-repeat: repeat;
}

#go_back_link a{


  background-repeat: repeat;
  color:  #ABC6CF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10px;
}


#signin_container{

  background-color:#FFF;
  height: 405px;
  width: 405px;
  /*  margin-top: 10%;*/
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  -moz-border-radius: 15px;
  -webkit-border-radius:15px;
  border-radius: 15px;
}

#signin_container #signin_logo {
  background-image:url(/images/systemlogo.png);
  background-repeat:no-repeat;
  background-position:center center;
  width: 405px;
  height: 199px;
  float:left;

}
#signin_container #signin_form form a {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #143F72;
  font-weight: bold;
}
#signin_container #signin_form form a:hover {
  text-decoration: underline;
}
#signin_container #signin_form form a img {
  vertical-align: bottom;
}
input[type="submit"] {
  float: right;
  margin-top:15px;
}

#register_form{
  display:none;
  background-color:#FFF;
  height: 240px;
  width: 250px;

  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  -moz-border-radius: 15px;
  -webkit-border-radius:15px;
  border-radius: 15px;
}

#register_form form a {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #143F72;
  font-weight: bold;
}
#register_form form a:hover {
  text-decoration: underline;
}
#register_form form a img {
  vertical-align: bottom;
}
#register_form form #signin_button {
  float: right;
  margin-top:15px;
}

#cancel{
  margin-right:20px;
  margin-top:20px;
  float: right;

}

/* SIMPLE CAPTCHA CSS STYLING*/
#simple_captcha .form_line #captcha_image {width: auto; height: auto; display:inline;}
#simple_captcha .form_line #captcha_image img{width: 110px !important; height:30px; background-color: #fff;}

#signin_container .sign_content_title{
  font-family:Arial,Helvetica,sans-serif;
  font-weight:bold;
  color: #14427D;
  font-size:28px; 
}

#signin_container input[type=submit] {

  background-color: #E3E1E2;
  -moz-border-radius: 10px;
  padding:2% 5%;
  -moz-opacity:0.2; /*Firefox*/




}

.form_line {
  float: left;
  min-height: 30px;
  padding-bottom: 5px;
  width: 100%;
}

.form_line label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 12px;
  color: #666;
  text-decoration: none;
  display: block;
  padding-left: 3px;
}

.form_line input {
  width:100%;

}


.form_line .field_2,
.form_line .field_5,
.form_line .field_10,
.form_line .field_15,
.form_line .field_20,
.form_line .field_25,
.form_line .field_23,
.form_line .field_27,
.form_line .field_30,
.form_line .field_33,
.form_line .field_34,
.form_line .field_35,
.form_line .field_40,
.form_line .field_45,
.form_line .field_50,
.form_line .field_55,
.form_line .field_60,
.form_line .field_66,
.form_line .field_70,
.form_line .field_75,
.form_line .field_80,
.form_line .field_90,
.form_line .field_95 {
  float: left;
  height: 40px;
  margin-right: 10px;
}
.form_line .field_2 {width: 2%;}
.form_line .field_5 {width: 5%;}
.form_line .field_10 {width: 10%;}
.form_line .field_15 {width: 15%;}
.form_line .field_20 {width: 20%;}
.form_line .field_23 {width: 23%;}
.form_line .field_25 {width: 25%;}
.form_line .field_27 {width: 27%;}
.form_line .field_30 {width: 30%;}
.form_line .field_33 {width: 33%;}
.form_line .field_34 {width: 34%;}
.form_line .field_35 {width: 35%;}
.form_line .field_40 {width: 40%;}
.form_line .field_45 {width: 45%;}
.form_line .field_50 {width: 50%;}
.form_line .field_55 {width: 55%;}
.form_line .field_60 {width: 60%;}
.form_line .field_66 {width: 66%;}
.form_line .field_70 {width: 70%;}
.form_line .field_75 {width: 75%;}
.form_line .field_80 {width: 80%;}
.form_line .field_85 {width: 85%;}
.form_line .field_90 {width: 90%;}
.form_line .field_95 {width: 95%;}


