@charset "utf-8";
/* CSS Document */

body {
	background-color: #030A13;
	background-image:url(/images/signin_bg.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}
h1 {
	color:#333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	text-transform: normal;
	line-height: 1em;
	padding-bottom: 0px;
	margin-bottom: 5px;
}



#signin_container {
	background-color:#FFF;
	height: 280px;
	width: 540px;
	margin-top: 15%;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	-moz-border-radius: 15px; 
}

#signin_container #signin_logo {
	background-image:url(/images/Amazon-logo.png);
	background-repeat:no-repeat;
	background-position:right center;
	width: 240px;
	height: 280px;
	float:left;
	
}
#signin_container #shadow_bar {
	background-image:url(/images/shadow_bar.png);
	background-position:center center;
	background-repeat:no-repeat;
	height: 280px;
	width: 40px; 
	float: left;
}




#signin_container #signin_form {
    width: 260px;
	height: 240px;
	float: left;
	margin-top: 40px;
}
#signin_container #signin_form form label {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 5px;
}
#signin_container #signin_form form .field {
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #03487F;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #03487F;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999;
	border-bottom-color: #999;
}
#signin_container #signin_form form a {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #143F72;
	font-weight: bold;
}
#signin_container #signin_form form a img {
	vertical-align: bottom;
}
#signin_container #signin_form form #signin_button {
	float: right;
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 5px;
	margin-left: 5px;
}

#login_help_screen {
    background-color: white;
}

#login_help_screen h1 img {
    display: inline;
    vertical-align: middle;
}

#login_help_screen li {
    padding-top: 7px;
    padding-left: 10px;

}

#login_password_reset {
    background-color: white;
}

#login_password_reset h1 img {
    display: inline;
    vertical-align: middle;
}

#login_password_reset td {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
}

#login_username_retrieval {
    background-color: white;
}

#login_username_retrieval h1 img {
    display: inline;
    vertical-align: middle;
}

#login_username_retrieval td {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
}

span.small_font {
    font-size: small;
}



