@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    font-family:Arial,Helvetica,sans-serif;
}


a {
    text-decoration : none;
    color: #666666;
}

body {
	background-color: #030A13;
	background-image:url(/images/bg3.jpg);
	background-repeat: repeat;
	background-position: center -300px;
}
h1 {
	color:#333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: 500;
	text-transform: normal;
	line-height: 1em;
	padding-bottom: 0px;
	margin-bottom: 5px;
}



#signin_container {
	background-color:#FFF;
	height: 240px;
	width: 540px;
	margin-top: 15%;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	-moz-border-radius: 15px;
        -webkit-border-radius:15px;
        border-radius: 15px;

}

#signin_container #signin_logo {
	background-image:url(/images/systemlogo.png);
	background-repeat:no-repeat;
	background-position:right center;
	width: 240px;
	height: 240px;
	float:left;
	
}
#signin_container #shadow_bar {
	background-image:url(/images/shadow_bar.png);
	background-position:center center;
	background-repeat:no-repeat;
	height: 225px;
       	width: 40px;
        margin-top: 15px;
	float: left;
}




#signin_container #signin_form {
    width: 260px;
	height: 200px;
	float: left;
	margin-top:40px;
}

#signin_container #signin_form_wrapper {
    width: 210px;
	height: auto;
	float: left;
	margin-top: 10px;
}

#signin_container #signin_form form label {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	font-weight: bold;
	padding-top: 2px;
	padding-left: 5px;
}
#signin_container #signin_form form .field {
	background-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #03487F;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #03487F;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999;
	border-bottom-color: #999;
        width: 100%;
}
#signin_container #signin_form form a {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #143F72;
	font-weight: bold;
}
#signin_container #signin_form form a:hover {
	text-decoration: underline;
}
#signin_container #signin_form form a img {
	vertical-align: bottom;
}
#signin_container #signin_form form #signin_button {
	float: right;
        margin-top:15px;
}

#login_help_screen {
    width: 100%;
    height: 300px;
    }
.login_help_image {
        background-image:url(/images/password_help.png);
        background-repeat: no-repeat;
        background-position: center center;
        height: 200px;
        width: 150px;
        float: left;
    }
    .login_help_content{
        min-height: 180px;
        width: 350px;
        margin-top: 20px;
        float: left;
    }
    .login_help_content h3{
        color:#333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	line-height: 22px;
	padding-bottom: 0px;
	margin-bottom: 5px;
    }
    .login_help_content li {
        width: 80%;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        background-image: url(/images/container_bg.png);
        background-repeat: repeat;
        -moz-border-radius: 10px;
        height: 20px;
        padding:10px;
        margin: 20px auto;
        -webkit-border-radius:10px;
        border-radius: 10px;
    }

      .login_help_content li:hover {
        background-image: url(/images/container_green_bg.png);
        background-repeat: repeat;
        -moz-border-radius: 10px;
        -webkit-border-radius:10px;
        border-radius: 10px;
        font-weight: bold;
        text-decoration: underline;

    }
    .login_help_content #password_captcha {float: left; width: 100%;}
    .login_help_content #password_reset_submit, .login_help_content #username_retrieval_submit {float: left; width:100%; text-align: right;}
    .login_help_content input[type=text] { width: 200px;}

#login_help_screen h1 img {
    display: inline;
    vertical-align: middle;
}

#login_help_screen li {
 
    
}

#login_password_reset {;
}

#login_password_reset h1 img {
    display: inline;
    vertical-align: middle;
}

#login_password_reset td {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
}

#login_username_retrieval {
    background-color: white;
}

#login_username_retrieval h1 img {
    display: inline;
    vertical-align: middle;
}

#login_username_retrieval td {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
}

span.small_font {
    font-size: small;
}
 /* SIMPLE CAPTCHA CSS STYLING*/
 #simple_captcha .form_line #captcha_image {width: auto; height: auto; display:inline;}
#simple_captcha .form_line #captcha_image img{width: 110px !important; height:30px; background-color: #fff;}


  


