@charset "utf-8";
@import url("reset.css");
/* CSS Document */

body {
	background-image:url(../images/body_bg.jpg);
	background-position: top left;
	background-repeat:no-repeat;
	background-color: #030A13;
}


/* app - centralizes the interface in the browser */
#app {
	min-width: 1100px;
	max-width: 1400px;
	margin: auto;
	min-height: 500px;
}

/* left collumn area and related css */
#app #lc {
	min-width: 200px;
	max-width: 250px;
	width: 10%;
	min-height: 500px;
	float: left;
	margin-top: 110px;
}

/* menu related tags */
#app #lc #menu, #app #lc #menu li {
	float: right;
	margin: 5px 0px;
	clear: both;
}

#app #lc #menu li .item {
	background-color: #f6f6f6;
	background-image:url(../images/menu_item.png);
	background-position:right;
	background-repeat: repeat-y;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	width: 120px;
	height: 22px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	color: #666;
	vertical-align: text-top;
}


/* Menu - Active menu item */
#app #lc #menu #menu_active .top {
	background-image:url(../images/corner_top.png);
	background-position: bottom right;
	background-repeat:no-repeat;
	height: 10px;
	width: 190px;
}

#app #lc #menu #menu_active .item {
	background-color: #f6f6f6;
	min-height: 140px;
	width: 175px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	background-image: none;
	padding: 10px 5px 10px 10px ;
	line-height: 24px;
}
#app #lc #menu #menu_active .item img {
	vertical-align:text-bottom;
	margin-right: 5px;
}

#app #lc #menu #menu_active .item ul {
	padding:2px;
	margin-left: 5px;
	font-size: 18px;
	line-height: 20px;
	}

#app #lc #menu #menu_active .item li {
	float: none;
	padding: 2px 4px 2px 2px
}
#app #lc #menu #menu_active .item ul #selected {
	font-weight: bold;
	color: #333;
	margin-left: 5px;
}


#app #lc #menu #menu_active .bottom {
	background-image:url(../images/corner_bottom.png);
	background-position: top right;
	background-repeat:no-repeat;
	height: 10px;
	width: 190px;
}


/* main area */
#app #main {
	min-width: 900px;
	max-width: 1150px;
	width: 80%;
	min-height: 500px;
	float:left;
}

/* System Bar */

#sysbar {
	background-image:url(../images/sysbar_bg.jpg);
	background-repeat:repeat-x;
	width: 100%;
	height: 50px;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 0px 10px;
	-moz-border-radius: 15px;
}

/* Content Area */

#content {
	background-color: #f6f6f6;
	width:100%;
	float: left;
	min-height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	-moz-border-radius: 15px;
}
/* header wrapper */
#app #main #content #header {
	height: 40px;
	width: 100%;
}
/* page title area */
#app #main #content #header #page_title {
	width: 49%;
	height: 40px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #2C2C2C;
	margin-left: 1%;
}
/* list of lists area */
#app #main #content #header #lol {
	float: right;
	height: 40px;
	width: 49%;
	margin-right: 1%;
	text-align: right;
}
/* interface blue container*/
#app #main #content .container {
	font-family:Arial, Helvetica, sans-serif;
	color: #232323;
	background-image:url(../images/container_bg.png);
	background-repeat:repeat;
	width: 96%;
	float: left;
	padding: 2%;
	min-height: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 10px;
}
/* removes double margin from last div */
#app #main #content .container div:last-child {
	margin-bottom: 0px;
}

/* blue container title*/
#app #main #content .container h1 {
	color: #2C2C2C;
	font-size:18px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 5px;

}
/*blue container second title*/
#app #main #content .container h2 {
	font-size:16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 5px;
}
/*blue container body copy */
#app #main #content .container p {
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
	margin-bottom: 5px;
}
/* form line wrapper */
#app #main #content .container .form_line {
	float: left;
	height: 40px;
	width: 100%;
}
/* filed label properties */
#app #main #content .container .form_line label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666;
	text-decoration: none;
	display: block;
	padding-left: 3px;
}
/* field properties */
#app #main #content .container input {
	font-size:14px;
	font:Arial, Helvetica, sans-serif;
	line-height:16px;
	width: 96%;
	height: 18px;
}
/* dropdown properties */
#app #main #content .container select {
	font-size:14px;
	font:Arial, Helvetica, sans-serif;
	line-height:20px;
	width: 100%;
	height: 24px;
}

/* Form field place holders */

/* Common properties */
#app #main #content .container .form_line .field_15,
#app #main #content .container .form_line .field_20,
#app #main #content .container .form_line .field_25,
#app #main #content .container .form_line .field_30,
#app #main #content .container .form_line .field_33,
#app #main #content .container .form_line .field_40,
#app #main #content .container .form_line .field_45,
#app #main #content .container .form_line .field_50,
#app #main #content .container .form_line .field_55,
#app #main #content .container .form_line .field_60,
#app #main #content .container .form_line .field_66,
#app #main #content .container .form_line .field_70,
#app #main #content .container .form_line .field_75,
#app #main #content .container .form_line .field_80,
#app #main #content .container .form_line .field_85 {
	float: left;
	height: 40px;
	margin-right: 10px;
	}
/* unique properties */
#app #main #content .container .form_line .field_15 {width: 15%;}
#app #main #content .container .form_line .field_20 {width: 20%;}
#app #main #content .container .form_line .field_25 {width: 25%;}
#app #main #content .container .form_line .field_30 {width: 30%;}
#app #main #content .container .form_line .field_33 {width: 33%;}
#app #main #content .container .form_line .field_40 {width: 40%;}
#app #main #content .container .form_line .field_45 {width: 45%;}
#app #main #content .container .form_line .field_50 {width: 50%;}
#app #main #content .container .form_line .field_55 {width: 55%;}
#app #main #content .container .form_line .field_60 {width: 60%;}
#app #main #content .container .form_line .field_66 {width: 66%;}
#app #main #content .container .form_line .field_70 {width: 70%;}
#app #main #content .container .form_line .field_75 {width: 75%;}
#app #main #content .container .form_line .field_80 {width: 80%;}
#app #main #content .container .form_line .field_85 {width: 85%;}

/* remove margin from .form_field last div */
#app #main #content .container .form_line div:last-child {
	margin: 0px;
}
/* left hand of content area */
#app #main #content #left_content {
	min-height: 500px;
	float: left;
	width: 49.5%;
	margin-right: 0.5%;
}
/* right hand of content area */
#app #main #content #right_content {
	min-height: 500px;
	float: left;
	width: 49.5%;
	margin-left: 0.5%;
}
/* content footer - not in use at the moment */
#app #main #content #footer {
	width: 100%;
	height: 5px;
	float:left;
}
/* Temp*/
div.form_line {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}

div.form_line input, select {
    width: 100%;
}

div.field_5 {
    margin: 0% 1%;
    width: 5%;
    float: left;
}

div.field_10 {
    margin: 0% 1%;
    width: 10%;
    float: left;
}

div.field_12 {
    margin: 0% 1%;
    width: 12%;
    float: left;
}

div.field_14 {
    margin: 0% 1%;
    width: 14%;
    float: left;
}

div.field_17 {
    margin: 0% 1%;
    width: 17%;
    float: left;
}

div.field_20 {
    margin: 0% 1%;
    width: 18%;
    float: left;
}

div.field_22 {
    margin: 0% 1%;
    width: 20%;
    float: left;
}

div.field_27 {
    margin: 0% 1%;
    width: 25%;
    float: left;
}

div.field_30 {
    margin: 0% 1%;
    width: 28%;
    float: left;
}

div.field_30real {
    margin: 0% 1%;
    width: 30.5%;
    float: left;
}

div.field_3a {
    margin: 0% 1%;
    width: 33%;
    float: left;
}

div.field_40 {
    margin: 0% 1%;
    width: 38%;
    float: left;
}

div.field_42 {
    margin: 0% 1%;
    width: 42%;
    float: left;
}

div.field_42half {
    margin: 0% 1%;
    width: 42.5%;
    float: left;
}

div.field_45 {
    margin: 0% 1%;
    width: 45%;
    float: left;
}

div.field_47 {
    margin: 0% 1%;
    width: 47%;
    float: left;
}

div.field_50 {
    margin: 0% 1%;
    width: 48%;
    float:left;
}

div.field_60 {
    margin: 0% 1%;
    width: 58%;
    float: left;
}

div.field_61 {
    margin: 0% 1%;
    width: 59%;
    float: left;
}

div.field_63 {
    margin: 0% 1%;
    width: 63%;
    float: left;
}

div.field_80 {
    margin: 0% 1%;
    width: 78%;
    float: left;
}

div.field_33 {
    margin: 0% 1%;
    width:31%;
    float:left;
}

div.field_25 {
    margin: 0% 1%;
    width:23%;
    float:left;
}

div.field_75 {
    margin: 0% 1%;
    width:73%;
    float:left;
}

div.field_100 {
    margin: 0% 1%;
    width:98%;
    float:left;
}

div.list_menu{
    float: right;
    margin-top: 5px;
}

div.list_menu a {
    display:block;
    float:left;
    padding:10px 13px 0 0;
}

div.list_menu #select_tag {
    display:block;
    width:200px;
    float:left;
    margin:12px 13px 0 0;
}


p.submit{    /*For the submit button*/
  text-align: right;
  padding-right:3px;
}

a.alt_option{  /*For clear button*/
  color:#000000;
  font-size:11px;
  line-height:16px;
  padding:1px;
  margin:2px 10px 0px 0px;
}
/* Temp*/


/*list of list*/
select#compiler_options option.selected {
    display: none;
}

div#content div#left, div#right {
    width: 49%;
    float: left;
    margin-left: 1%;
}

div.container div.header_container .title {
  float: left;
  display:inline;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}

div.container div.header_container .options {
  float: right;
  display:inline;
}

