/* 
    Document   : watermark
    Created on : Apr 12, 2010, 2:48:45 PM
    Author     : matthew
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* make textbox dimensions consistent in all browsers */
/* you may choose to use a reset stylesheet instead */
/*.watermark
{
	border: solid 1px #999;
	padding: 2px;
	margin: 0;
	height: 1.25em;	 must specify height for consistent vertical alignment 
	vertical-align: middle;
}*/
/* watermark positioning container */
.updnWatermark
{
	position: relative;	/* positioning container */
	width: 0;
	height: 1.25em;	/* must specify height for consistent vertical alignment */
	vertical-align: middle;
}
/* watermark label styling */
.updnWatermark label
{
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	color: #747373;
	padding-left: 4px;
        padding-top: 3px;
	height: 1.25em;	/* must specify height for consistent vertical alignment */
	vertical-align: middle;
        font-size: 15px;
}
