.full_container
  %input.hidden{:id => "language_mode", :mode => "show"}

  #add_new_language
    = render :partial => "languages/new_language"

  #existing_languages
    = render :partial => "languages/existing_languages"

  #edit_language{:style => "display:none;margin-top:10px;float:left;width:100%;"}
    .container_corner.profile_tab_left_corner.left
    .container_edit
      .options_left{:style => "margin-right:10px;"}
        = image_tag('edit_icon.png', :class => "edit_icon_right")
      %h3 Edit
    .container_corner.profile_tab_right_corner.left
    .full_container
      .options
        = link_to_function image_tag('close_icon.png'), :field => "language", :style => "display:none;", :title=>"Close", :class => "close_option", :toggle_id_name => "edit_language", :toggle_id_name1 => "add_new_language"
      #edit_language_form

%script{:type => "text/javascript", :charset => "utf-8"}
  jQuery(function(){
  $("#show_languages_grid").flexigrid({
  url: '/grids/show_languages_grid',
  dataType: 'json',
  colModel : [
  {
  display: 'ID',
  name : 'id',
  width : 40,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Name',
  name : 'name',
  width : 100,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Description',
  name : 'description',
  width : 200,
  sortable : true,
  align: 'left'
  }
  ],
  searchitems : [
  {
  display: 'Name',
  name : 'name'
  },

  {
  display: 'Description',
  name : 'description'
  }
  ],
  sortname: "id",
  sortorder: "asc",
  usepager: true,
  title: 'Languages',
  useRp: true,
  rp: 20,
  showTableToggleBtn: false,
  width: 'auto',
  height: 'auto'
  });
  });