-fields_for @master_doc_meta_type do |meta|
  %fieldset
    %h3 Docs Meta Types
    .form_line
      .field_20
        =meta.label :name, 'Docs Meta Type'
        %select
          %option add new
      .field_20
        =meta.label :name, 'Docs Meta Type Name'
        =meta.text_field :name
      .field_40
        =meta.label :description, 'Description'
        =meta.text_field :description
      .field_20
        =meta.label :status, 'Status'
        =meta.radio_button :status, true, :style => "width:10%"
        %label{:style => "display:inline"} Active
        =meta.radio_button :status, false, :style => "width:10%"
        %label{:style => "display:inline"} Inactive
      %br.clear