-fields_for @master_doc_type do |type|
  %fieldset
    %h3 Docs Meta Types
    .form_line
      .field_20
        =type.label :name, 'Docs Type'
        %select
          %option add new
      .field_20
        =type.label :name, 'Docs Type Name'
        =type.text_field :name
      .field_40
        =type.label :description, 'Description'
        =type.text_field :description
      .field_20
        =type.label :status, 'Status'
        =type.radio_button :status, true, :style => "width:10%"
        %label{:style => "display:inline"} Active
        =type.radio_button :status, false, :style => "width:10%"
        %label{:style => "display:inline"} Inactive
      %br.clear