.tab_looking_left
.tab_looking_icon
  = image_tag('edit_icon.png')
  Edit
.tab_looking_right
.full_container
  .options
    = link_to_function image_tag('close_icon.png'), :field => "source", :style => "display:none;", :title=>"Close", :class => "close_option", :toggle_id_name => "edit_source", :toggle_id_name1 => "add_new_source"
  #edit_source_form