#header
  #page_title
    %h2 Documents Filter

    %br.clear

-form_tag("/receipting/bank_run_document_filter", {:class => "ajax_form", :id => "bank_run_document_filter_form"}) do
  .full_container
    .form_line
      .field_20
        %label Bank Run Id
        %input{:id => "bank_run_document_filter_bank_run_id",:name => "bank_run_document_filter[bank_run_id]"}
      .field_20
        %label Deposit Bank Account
        %select{:id => "bank_run_document_filter_deposit_bank_account_id",:name => "bank_run_document_filter[deposit_bank_account_id]"}
          %option{:value => ""}All
          - ClientBankAccount.active_client_bank_account.each do |f|
            %option{:value => "#{f.id}"}#{f.account_number}
      .field_20
        %label Start Date
        %input{:class => "startdatepick",:id => "bank_run_document_filter_start_date",:end_date => "bank_run_document_filter_end_date", :value => "01-01-#{Date.today().year().to_s}", :name => "bank_run_document_filter[start_date]"}
      .field_20
        %label End Date
        %input{:class => "enddatepick",:id => "bank_run_document_filter_end_date",:start_date => "bank_run_document_filter_start_date", :value => "31-12-#{Date.today().year().to_s}", :name => "bank_run_document_filter[end_date]"}
      .field_15
        %label &nbsp
        =submit_tag 'filter', :id => "bank_run_document_submit"

#current_user_document