.full_container
  %h2 Existing Sources

  %table#show_sources_by_campaign_grid


%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
    delete_source = function(){
    var trSelected = $("#show_sources_by_campaign_grid tr.trSelected").attr('id');
    var id = "";
    if ($('#source_mode').attr("mode") == "show"){
    if (trSelected != undefined){
      id = trSelected.substring(3);
      $("#warning_message_text").html("Are you sure you wish to delete this source?");
      $("#warning_message").dialog({
        modal:false,
        resizable:false,
        draggable:false,
        height: 'auto',
        width: 'auto',
        buttons:{

        NO: function(){
          $(this).dialog("destroy");

        },

        Yes: function(){
          $.ajax({
                      type: "post",
                      url: "/receipting/destroy_source/"+id+".js",
                      dataType: "script"
                  });
                  $(this).dialog('destroy');
                  return true;
              }
              }

          });
        }else{
          $('#warning_message_text').html("Please select the record you want to delete");
          $('#warning_message').dialog({
              modal: true,
              resizable: false,
              draggable: true,
              height: 'auto',
              width: 'auto',
              buttons: {
                  Ok: function(){
                      $(this).dialog('destroy');
                      return false;
                  }
              }

          });
      }
      $('#warning_message_image').css("display","");
      $('#warning_message').dialog('option', 'title', 'Warning');
      $('#warning_message').parent().find("a").css("display","none");
      $("#warning_message").parent().css('background-color','#D1DDE6');
      $("#warning_message").css('background-color','#D1DDE6');
      $('#warning_message').dialog('open');
      return false;
      };
      };

    retrieve_source = function(){
    var trSelected = $("#show_sources_by_campaign_grid  tr.trSelected").attr('id');
    var id = "";
    if ($('#source_mode').attr("mode") == "show"){
    if (trSelected != undefined)  {
      id = trSelected.substring(3);
       $.ajax({
       type: "post",
       url: "/receipting/retrieve_source/"+id+".js",
       dataType: "script"
        });
      };
      };
      };


%script{:type => "text/javascript", :charset => "utf-8"}
  :plain
    $("#show_sources_by_campaign_grid").flexigrid({
      url: '/grids/show_sources_by_campaign_grid',
      dataType: 'json',
      colModel : [
      {
        display: 'ID',
        name : 'id',
        width : 40,
        sortable : true,
        align: 'left'
      },

      {
        display: 'Name',
        name : 'Name',
        width : 100,
        sortable : true,
        align: 'left'
      },
      {
        display: 'Description',
        name : 'description',
        width : 100,
        sortable : true,
        align: 'left'
      },

      {
        display: 'Volume',
        name : 'volume',
        width : 100,
        sortable : true,
        align: 'left'
      },

      {
        display: 'Cost',
        name : 'cost',
        width : 100,
        sortable : true,
        align: 'left'
      },

      {
        display: 'Status',
        name : 'status',
        width : 200,
        sortable : true,
        align: 'left'
      }
      ],
      buttons : [
        {name: 'Delete', bclass: 'delete', onpress : delete_source},
        {name: 'Retrieve', bclass: 'delete', onpress : retrieve_source}
      ],
      searchitems : [
        {
            display: 'Name',
            name : 'name'
        },

        {
            display: 'Description',
            name : 'description'
        },

        {
            display: 'volume',
            name : 'volume'
        },

        {
            display: 'Cost',
            name : 'cost'
        },

        {
            display: 'Status',
            name : 'status'
        }
        ],
        sortname: "id",
        sortorder: "asc",
        usepager: true,
        useRp: true,
        rp: 20,
        showTableToggleBtn: false,
        width: 'auto',
        height: 'auto'
    });
 