#organisational_transaction
  = render :partial => "deposits/deposit_template", :locals => {:title => "Organisation Receipts", :lol => "deposits/organisation_list_menu", :photo_info => "deposits/organisation_photo_info"}

