- case session[:module]
  - when "core"
    = render :partial => "/shared/core_module"
  - when "administration"
    = render :partial => "/shared/administration_module"
  - else
    = render :partial => "/shared/core_module"
