Dear <%=  (@feedback.login_account.class.to_s == "SystemUser")?  @feedback.login_account.person.name : @feedback.login_account.user_name %>,

Thank you for your valuable feedback. Your feedback was received and has been issued the ticket number <%= @feedback.id %>.

Please keep this email for your records.

Thank you.
