
New feedback has been submitted for the system.
  
  Feedback ID: <%= @feedback.id %>
  Submitted by: <%= @feedback.login_account.user_name %> (<%= (@feedback.login_account.class.to_s == "SystemUser")? @feedback.login_account.person.name : @feedback.login_account.user_name %>)
  Subject: <%= @feedback.subject %>

