<p>
  Dear <%= object.person.first_name %> <%= object.person.family_name %>,
</p>

<p>
  Your Password is changed to <%= password %>. If you have any question, please contact the MemberZone Team.<br/>
</p>

<p>
  MemberZone Team
</p>