<p>
  Dear <%= object.first_name %> <%= object.family_name %>,
</p>

<p>
  Thank your for joining MemberZone. Please click this the link below to active your record in our system.<br/>
  <a href="http://apps.memberzone.com.au/portal/active?id=<%= object.id %>&key=<%= object.validation_key %>" target="_blank">http://apps.memberzone.com.au/portal/active?id=<%= object.id %>&key=<%= object.validation_key %></a>
</p>

<p>
  MemberZone Team
</p>