Dear <%=@guest.first_name%>, <br style="clear: both;"/>
Your Username is <%=@guest.email  %> <br style="clear: both;"/>
Your New Password is <%=@password%> <br style="clear: both;"/>
Enjoy! MemberZone Team <br style="clear: both;"/>
