Congratulations on creating your brand new guest account, <br style="clear: both;"/>
your username is <%=@guest.email  %> <br style="clear: both;"/>
your password is <%=@password%> <br style="clear: both;"/>
Enjoy! MemberZone Team <br style="clear: both;"/>
