.container
  %h2 Export Organisation Data
  .form_line
    .field_30
      %label Select Source
      %select#org_source_id
        %option
        - @org_queries.each do |i|
          %option{:value => "query_#{i.id}"} Query_#{i.name}
        - @org_lists.each do |i|
          %option{:value => "list_#{i.id}"} List_#{i.name}
    .field_30
      %label File Name
      %input{:id => "file_name"}
    .field_20
      %label Format
      %input{:type => "button", :value => "PDF", :class => "export_button", :source => "organisation"}
      %input{:type => "button", :value => "XML", :class => "export_button", :source => "organisation"}
      %input{:type => "button", :value => "CSV", :class => "export_button", :source => "organisation"}