.container
  %h2 Export Organisation Data
  .form_line
    .field_20
      %label Select Query
      %select
        %option
        %option Query1
        %option Query2
    .field_20
      %label Export To
      %input{:type => "button", :value => "PDF"}
      %input{:type => "button", :value => "XML"}
      %input{:type => "button", :value => "CSV"}