.container
  %h2 Export Person Data
  .form_line
    .field_30
      %label  <span class='asterisk'>*</span>Select Source
      %select#source_id
        %option
        - @queries.each do |i|
          %option{:value => "query_#{i.id}"} Query_#{i.name}
        - @lists.each do |i|
          %option{:value => "list_#{i.id}"} List_#{i.name}
    .field_30
      %label File Name
      %input{:id => "file_name"}
    .field_20
      %label &nbsp;
      %input{:type => "button", :value => "CSV", :class => "check_runtime_export_button", :source => "person", :disabled => true, :style => "float:right;"}
      %input{:type => "button", :value => "XML", :class => "check_runtime_export_button", :source => "person", :disabled => true, :style => "float:right;"}
      %input{:type => "button", :value => "PDF", :class => "check_runtime_export_button", :source => "person", :disabled => true, :style => "float:right;"}