.full_container
  %input.hidden{:id => "religion_mode", :mode => "show"}

  #add_new_religion
    = render :partial => "religions/new_religion"

  #existing_religions
    = render :partial => "religions/existing_religions"

  #edit_religion{:style => "display:none;margin-top:10px;float:left;width:100%;"}
    .tab_looking_left
    .tab_looking_icon
      = image_tag('edit_icon.png')
      %h3{:style=>"display:inline;"} Edit
    .tab_looking_right

    %div.tab_close
      .tab_looking_left
      .tab_looking_icon
        = link_to_function image_tag('/images/Icons/System/close.png'), :field => "religion", :style => "display:none;", :title=>"Close", :class => "close_option close_edit", :toggle_id_name => "edit_religion", :toggle_id_name1 => "add_new_religion"
      .tab_looking_right
        .options


    .full_container
      #edit_religion_form

%script{:type => "text/javascript", :charset => "utf-8"}
  $("#show_religions_grid").flexigrid({
  url: '/grids/show_religions_grid',
  dataType: 'json',
  colModel : [
  {
  display: 'ID',
  name : 'id',
  width : 40,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Name',
  name : 'name',
  width : 100,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Description',
  name : 'description',
  width : 200,
  sortable : true,
  align: 'left'
  }
  ],
  searchitems : [
  {
  display: 'Name',
  name : 'name'
  },

  {
  display: 'Description',
  name : 'description'
  }
  ],
  sortname: "id",
  sortorder: "asc",
  usepager: true,
  title: '',
  useRp: true,
  rp: 20,
  showTableToggleBtn: false,
  width: 'auto',
  height: 'auto'
  });