#header
  #page_title
    %h1 Restore System Data
  #lol
    %br.clear
#content_full_page
  .container
    - if @backups.empty?
      System Backups are currently not available. Please contact your Systems Administrator to schedule backups as soon as possible.
    - else
      %p Available System Backups
      %table
        - for backup in @backups do
          %tr
            %td{:style => "padding: 0.5em;padding-right:1me;"}
              = backup
            %td{:style => "padding: 0.5em;"}
              Contact System Admininstrator to Restore Backup



