-# The form to edit an phone
-form_for @fax, :html => {:class => 'ajax_form edit_fax'} do |fax|
  %fieldset
    .header_container
      .title
        %h3 Edit Fax
      .options
        = link_to image_tag('close_icon.png'), fax_path(@fax), :class => 'get'
      %br{ :style=>"clear: both;"}
    = render :partial => 'fax_form', :locals => { :fax => fax }
    %br{ :style=>"clear: both;"}
    = submit_tag 'Submit'
