-form_for @bank_accounts,:index => @bank_accounts.id, :html => {:class => 'ajax_form',:submit_button_id=>"person_account_edit_submit"} do |account|
  %div
    .header_container
      .title
        %h1 Edit Account
      .options
        = link_to image_tag('close_icon.png'), person_bank_account_path(@bank_accounts),:class => 'get_close', :field => "account", :id => 'person_account_edit_close_button', :title=>"Close"
      %br{ :style=>"clear: both;"}
      = render :partial => '/person_bank_accounts/account_form', :locals => { :account => account}
      =submit_tag 'Submit',:id=>"person_account_edit_submit"