-# Displays Person Account
-div_for(person_accounts, :class => 'header_container toggle_options', :field => "person_account") do
  %div
    .title
      %h2= "#{AccountType.find(person_accounts.account_type_id).name}"
    .options{:class => 'person_bank_account_edit_delete person_tag', :style => "display:none;"}
      = link_to image_tag('edit_icon.png')
      = link_to image_tag('delete_icon.png')
    %br.clear
  %div{:style => "float:right;"}
    -#= format_masterdoc(master_doc)