<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Amazon - The Community Social Solution</title>



    <%= stylesheet_link_tag  "Portal.css"%>

    <%= yield_authenticity_token %>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery","1.3.2");
      google.load("jqueryui","1.7.1");
    </script>

    <%= javascript_include_tag  "portal.js"%>

  </head>

  <body>
    <%- if flash[:error]%>
    <%= flash[:error] %>
    <%- end%>
   <form id="sign_up_form" method="post" action="/portal/sign_up" submit_button_id="signup_submit">
     <div class="form_line">
       <div class="field_30">
         <label><span class="asterisk">*</span>
         First Name:
         </label>
       </div>
       <div class="field_60">
         <input id="potential_member_first_name" class="compulsory_field" name="potential_member[first_name]" value="<%=@potential_member.first_name%>"/>
       </div>
     </div>
     <div class="form_line">
       <div class="field_30">
         <label><span class="asterisk">*</span>
         Family Name:
         </label>
       </div>
       <div class="field_60">
         <input id="potential_member_family_name" class="compulsory_field" name="potential_member[family_name]" value="<%=@potential_member.family_name%>"/>
       </div>
     </div>
     <div class="form_line">
       <div class="field_30">
         <label><span class="asterisk">*</span>
         Email:
         </label>
       </div>
       <div class="field_60">
         <input id="potential_member_email" class="compulsory_field email_field" name="potential_member[email]" value="<%=@potential_member.email%>"/>
       </div>
     </div>

     <div style="float:right;"><input id="signup_submit" type="submit" value="Signup" disabled/></div>
   </form>
  </body>
</html>
