- form_for @to_do_list, :html => {:class => "ajax_form"} do |f|
  .dashboard_form
    .form_line
      .field_100
        =f.label :description, "New To-Do"
        =f.text_field :description
      .submit
        %label &nbsp;
        = submit_tag "Add to List"