.container
  %h2 Processing
  #processing_to_dos
    - if @processing_to_do.nil?
      %p{:style => "text-align:center;"} No Entry
    - else
      = render :partial => "to_do_lists/to_do", :collection => @processing_to_do

  %h2 New
  #new_to_dos
    - if @processing_to_do.nil?
      %p{:style => "text-align:center;"} No Entry
    - else
      = render :partial => "to_do_lists/to_do", :collection => @new_to_do
