%div.portlet
  %div.portlet_topper
    .options{:style => "float:right;"}
      = link_to_function image_tag("add_icon.png"), :id => "new_to_do", :title=>"New"
      = link_to_function image_tag("edit_icon.png"), :title=>"Edit", :id => "manage_to_do"
    %h1 To Do List
  %div.portlet_to_do_content
    #to_do_lists
      = render :partial => "to_do_lists/to_do_list"
 