.container.container_active
  %h2 Processing
  %br
  %input{:style => "display:none;", :id => "to_do_mode", :mode => "show"}
  #processing_to_dos
    - unless @processing_to_do.empty?
      = render :partial => "to_do_lists/to_do_detail", :collection => @processing_to_do

.container
  %h2 New
  %br
  #new_to_dos
    - unless @new_to_do.empty?
      = render :partial => "to_do_lists/to_do_detail", :collection => @new_to_do

.container.container_inactive
  %h2 Completed
  %br
  #completed_to_dos
    - unless @completed_to_do.empty?
      = render :partial => "to_do_lists/to_do_detail", :collection => @completed_to_do
