= render :partial => "to_do_lists/to_do", :collection => @processing_to_do
= render :partial => "to_do_lists/to_do", :collection => @new_to_do
- if @processing_to_do.nil? && @new_to_do.nil?
  %p{:style => "text-align:center;"} No Record
