-fields_for @tag_meta_type do |tag_meta_type|
  .field_20
    =tag_meta_type.label :name, 'Tag Meta Type Name'
    =tag_meta_type.text_field :name
  .field_40
    =tag_meta_type.label :description, 'Description'
    =tag_meta_type.text_field :description
  .field_20
    =tag_meta_type.label :status, 'Status'
    =tag_meta_type.radio_button :status, true, :style => "width:10%", :checked => true
    %label{:style => "display:inline"} Active
    =tag_meta_type.radio_button :status, false, :style => "width:10%"
    %label{:style => "display:inline"} Inactive