%div{:id => "accordion01"}
  %h3
    %a{:href => "#"} Add New User
  %div
    %form
      %fieldset
        .field_20
          = p.label :id, 'System ID'
          = p.text_field :id
        %br.clear


  %h3
    %a{:href => "#"} Existing Users
  %div