<% unless flash[:error].nil? %>
  $("#flash_message").html("<%= escape_javascript(flash[:error]) %>");
  $('#flash_message').dialog( {
  modal: true,
  resizable: true,
  draggable: true,
  position: 'top',
  buttons: {
  Ok: function() {
  $(this).dialog('close');
  }
  }
  });
  $('#flash_message').dialog('open');
<% else %>

  $("#flash_feedback").html("<%= escape_javascript(flash[:message]) %>");
  $('#flash_feedback').fadeIn("slow");
  $('body').click(function(){$('#flash_feedback').fadeOut("slow")})

  $("#new_login_account")[0].reset();
  $('#login_name_container_0').html('');
  $('#user_name_container_0').html('');
  $("#add_user_bar").click();
  $("#login_account_password_confirmation").disable();
  $('#login_account_password_bar').css('border', '1px solid white');
  $('#login_account_password_bar').css('font-size', '5px');
  $('#login_account_password_bar').css('height', '20px');
  $('#login_account_password_bar').css('width', '20%');
  $('#login_account_password_bar').css('background-color', 'rgb(204, 204, 204)');
  $("#login_account_password_text").html('<span style="color: rgb(204, 204, 204);">Password Strength</span>');
  $('#show_user').html('<%= escape_javascript(render(:partial => '/user_management/show_user_list', :object => @login_accounts)) %>');





<% end %>