$("#edit_user").html(" <%= escape_javascript(render(:partial => '/user_management/edit_existing_user')) %>");
 $('#login_account_mode').attr('mode','edit');
<% if @group_types.blank? %>
  $("#group_id").html('')


<% else %>

  <%  result = String.new %>
  <% for gt in @group_types %>
    <% result += "<option value='#{gt.id}'>#{gt.name}</option>" %>
  <%end%>

  <% user_group = String.new %>
  <% for u in @groups %>
    <% user_group += "<option value='#{u.id}'>#{u.name}</option>" %>
  <%end%>
  $("#remove_group_tag_id").html('<%=  escape_javascript("#{user_group}")%>');


  $("#group_id").html('<%=escape_javascript("#{result}")%>');




<% end -%>