<style type="text/css">
  .page_break {page-break-after: always;}
  #bank_deposit_sheet #header {margin:5px auto;width:100%;text-align:center;}
  #bank_deposit_sheet #title {border-top: 3px double black;border-bottom: 3px double black;}
  #bank_deposit_sheet #content {border-bottom: 3px double black;}
  #bank_deposit_sheet .top_item {float:left;width:33%;}
  #bank_deposit_sheet .title_item {float:left;width:20%;}
  #bank_deposit_sheet .clear {clear:both;}
  #bank_deposit_sheet #summary {width:100%;}
  #bank_deposit_sheet #summary_detail {margin:5px auto;width:35%;}
  #bank_deposit_sheet .summary_item {width:50%;float:left;}
</style>
<div id="bank_deposit_sheet">
<%- @accounts.each do |account|%>
<%= render :partial => "deposits/bank_deposit_sheet_per_account", :locals => {:account => account} %>
  <%- if account != @accounts.last %>
  <div class="page_break">&nbsp;</div>
  <%- end %>
<%- end %>
</div>