<html>
  <head>
    <script>
      function subst() {
        var vars={};
        var x=document.location.search.substring(1).split('&');
        for(var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
        for(var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for(var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
    <style type="text/css">
      .page_break {page-break-after: always;}
      #credit_card_receipt_footer #header {margin:5px auto;width:100%;text-align:center;}
      #credit_card_receipt_footer #title {border-top: 3px double black;border-bottom: 3px double black;}
      #credit_card_receipt_footer #content {border-bottom: 3px double black;}
      #credit_card_receipt_footer .top_item {float:left;width:33%;}
      #credit_card_receipt_footer .bottle_item {text-align:center;width:100%;}
      #credit_card_receipt_footer .clear {clear:both;}
      #credit_card_receipt_footer #summary {width:100%;}
      #credit_card_receipt_footer #summary_detail {margin:5px auto;width:35%;}
      #credit_card_receipt_footer .summary_item {width:50%;float:left;}
       #credit_card_receipt_footer #bottom .div_line .div_cell_left {float:left;width:40%;}
        #credit_card_receipt_footer #bottom .div_line .div_cell_right {float:right;width:60%;}
    </style>
  </head>
  <body style="border:0; margin: 0;" onload="subst()">

    <div id="credit_card_receipt_footer">

      <div id="content_holder">
        <div id="bottom">
          <div class="div_line">
            <div class="div_cell_left">*   PLEASE INDICATE WHETHER: <br />&nbsp;&nbsp;&nbsp;M - MAIL ORDER <br />&nbsp;&nbsp;&nbsp;T - TELEPHONE ORDER</div>
            <div class="div_cell_right">THE ORIGINAL COPY SHOULD BE FOLDED THREE TIMES AS INDICATED BY FOLD MARKS ON SIDES, AND PLACED IN MERCHANT SUMMARY ENVELOPE.</div>
          </div>
          <br class="clear"/>
        </div>
        <br class="clear"/>
        <div id="title">
          <div class="bottle_item">Copyright MemberZone Pty Ltd - Generated at <%= Time.now.strftime("%d-%m-%Y") %></div>
        </div>

      </div>
    </div>
  </body>
</html>


