-# The main Address tab
#add_new_address.header_container
  .options
    = link_to_function image_tag('close_icon.png'), :class => "person_address_close clear_form_to_address", :toggle_id_name => "new_address", :style => "display:none;", :field => "address", :title=>"Close"
  .title
    = link_to_function image_tag('add_icon.png'), :id=>"add_address", :class=>"person_address_toggle_button add_icon clear_form_to_address", :toggle_id_name => "new_address" if (!person.nil? && !person.new_record?)
    &nbsp
  %h1 New Address
  %input{:id => "address_hidden_tab", :mode => "show", :style => "display:none"}
  %input{:id => "address_input_change_or_not", :style => "display:none", :value => "false"}
  =# Initially hidden new address form
  #address_check_type
    = render :partial => '/addresses/personal_address_type', :locals => { :address => @address }

#addresses
  =# Render the person's addresses
  = render :partial => '/addresses/address', :collection => person.addresses