%table#address_assistant{:style => "width:100%;clear:both;"}
  %thead
    %tr
      %th{:style => "background-color:gray;color:white;"} Suburb
      %th{:style => "background-color:gray;color:white;"} State
      %th{:style => "background-color:gray;color:white;"} Postcode
      %th{:style => "background-color:gray;color:white;"} Country
  %tbody
    - @postcodes.each do |postcode|
      %tr{:postcode_id => postcode.id}
        %td= postcode.suburb
        %td= postcode.state
        %td= postcode.postcode
        %td= postcode.country.short_name unless postcode.country_id.nil?