-# Displays An Address
-div_for(address, :class => 'info_container') do
  .header_container
    .title
      %h3= address.address_type.name
    .options
      = link_to image_tag('edit_icon.png'), edit_address_path(address), :class => 'get'
      = link_to image_tag('delete_icon.png'), address_path(address), :class => 'delete'
    %br{ :style => "clear:both;"}
  .display_container
    = format_address(address)