-# Displays An Address
-div_for(address, :class => 'header_container',:field => "address") do
  %div
    .title
      %h2= address.address_type.name
    .options{:class => 'person_address_edit_delete person_tag', :style => "display:none;"}
      = link_to image_tag('edit_icon.png'), edit_address_path(address), :class => 'get edit_address', :id => 'address_edit_button' , :address_id => @address.id
      = link_to image_tag('delete_icon.png'), address_path(address), :class => 'delete delete_address',:id => 'address_delete_button', :address_id => @address.id
    %br.clear
  %div{:style => "float:right;"}
    = format_address(address)

