-# The form to edit an address
-form_for @address, :html => {:class => 'ajax_form'} do |address|
  %div
    .header_container
      .title
        %h1 Edit Address
      .options
        = link_to image_tag('close_icon.png'), address_path(@address), :class => 'get', :id => 'address_edit_close_button'
      %br{ :style=>"clear: both;"}
      = render :partial => '/addresses/address_form', :locals => { :address => address,:edit => "edit" }
      = submit_tag 'Submit' , :id => "address_submit_button_edit" , :check_field => "address_street_name_edit"
