.full_container
  %h1 Existing Roles
  %table#show_roles_grid{:class=>"selectable_grid",:field=>'role', :db_click_function=>"true", :edit=>"true", :db_click_url=>"/roles/"}
%script{:type=>"text/javascript", :charset=>"utf-8"}
  :plain
    delete_from_a_grid = function(){
      delete_from_grid($("#show_roles_grid tr.trSelected").attr('id'), "#role_mode", "get", "/roles/delete_roles/");
    };

    retrieve_from_a_grid = function(){
      retrieve_from_grid($("#show_roles_grid tr.trSelected").attr('id'), "#role_mode", "get", "/roles/retrieve");
    };
    $("#show_roles_grid").flexigrid({
      url: '/grids/show_roles_grid',
      dataType: 'json',
      colModel: [
        {
          display: 'ID',
          name: 'id',
          width: 40,
          sortable: true,
          align: 'left'
        },
        {
          display: 'Role Type',
          name: 'role_type_id',
          width: 100,
          sortable: true,
          align: 'left'
        },

        {
          display: 'Name',
          name: 'name',
          width: 200,
          sortable: true,
          align: 'left'
        },

        {
          display: 'Remarks',
          name: 'remarks',
          width: 550,
          sortable: true,
          align: 'left'
        }
      ],
      buttons:[
        {name: '', bclass: 'delete delete_button_on_grid', onpress: delete_from_a_grid},
        {name: '', bclass: 'get retrieve_button_on_grid', onpress: retrieve_from_a_grid}
      ],

      searchitems:[
      {
        display: 'Role Type',
        name: 'amazon_settings.name'
      },
      {
        display: 'Name',
        name: 'roles.name'
      },
      {
        display: 'Remarks',
        name: 'roles.remarks'
      }
      ],

      sortname: "roles.name",
      sortorder: "asc",
      usepager: true,
      title: '',
      useRp: true,
      rp: 20,
      showTableToggleBtn: false,
      width: 'auto',
      height: 'auto'
    });