-# The main Roles tab
.info_container
  .header_container
    .title
      %h3 Roles
    .options
      = link_to_function image_tag('add_icon.png'), :id=>"add_role", :class=>"toggle_button", :toggle_id_name => "new_role"  if (!person.nil? && !person.new_record?)
      = image_tag('help_icon.png')
    %br{ :style=>"clear: both;"}

    =# Initially hidden new roles form
    -form_for([@person, @role] , :html => {:style => "display:none", :class => 'ajax_form '}) do |role|
      %fieldset
        %h3 Add Role
        = render :partial => 'roles/roles_form2', :locals => {:role => role, :person => @person}
        = submit_tag 'Submit'
  