<% unless @role_type.nil? -%>
  <% role = String.new %>
  <% role += "<option></option>" %>
  <% for r in @role_type -%>
    <% role += "<option value= '#{r.id}'>#{r.name}</option>" %>
  <% end -%>
 
  $("#role_condition_role_type_id").html('<%=escape_javascript("#{role}")%>');


$('#role_condition_role_main_contents').css('display', 'none');

<% end -%>