-form_for @tag_type, :url => {:controller => 'tag_types', :action => @tag_type.new_record? ? "create" : "update", :id => @tag_type.id}, :html => {:id => "tag_type_form2", :class => 'ajax_form'} do |tag_type|
  %fieldset
    %h3 Tag Types
    .form_line
      .field_20
        =tag_type.label :name, "&nbsp;"
        %select#render_tag_type2{:disabled=>(@tag_type.status == false)}
          %option{:value => "0", :selected => @tag_type.new_record?} << Add New >>
          - @tag_types.each do |i|
            %option{:value => "#{i.id}", :selected => (@tag_type.id == i.id) } #{i.name}
      .field_20
        =tag_type.label :name, 'Name'
        =tag_type.text_field :name, :disabled=>(@tag_type.status == false)
      .field_40
        =tag_type.label :description, 'Description'
        =tag_type.text_field :description, :disabled=>(@tag_type.status == false)
      .field_20
        =tag_type.label :status, 'Status'
        =tag_type.radio_button :status, true, :style => "width:10%", :checked => true
        %label{:style => "display:inline"} Active
        =tag_type.radio_button :status, false, :style => "width:10%"
        %label{:style => "display:inline"} Inactive
        %input{:style => "display:none", :id => "type", :name =>"type", :value => @tag_type.class.to_s}
        %input{:style => "display:none", :id => "tag_meta_type", :name =>"tag_meta_type", :value => @tag_meta_type.class.to_s}
        %input{:style => "display:none", :id => "tag_meta_type_id", :name =>"tag_meta_type_id", :value => @tag_meta_type.id}
        %input{:style => "display:none", :id => "show_tag_details", :name => "show_tag_details", :value => "false"}
      %br.clear
    =link_to_function image_tag('closed_accordion.png', :style=>"float:right", :alt=>"Continue"), :id => "arrow2", :class => "toggle_button close_image", :toggle_id_name => "tag2" if @tag_type.status == true
    = submit_tag 'Submit', :style => "width:75px;"