.info_container
  %div
    .info_container
      %h3 Please select a system tag to continue
      .form_line
        .field_25
          %select#tag_selection2.clear_select
            %option
            %option{:value => "0"} Master Doc / Role Condition
            -#%option{:value => "1"} Group
            -#%option{:value => "2"} Fee
          %input#hiden_meta_id2.hiden{:value=>"0"}
        .field_70
          #tag_flash2
        %br.clear

    #show_tag2

  %br.clear
        
        