#header
  #page_title
    %h1 Dashboard
#dashboard
  .container
    %h1 System News
    = render :partial => "system_news/system_news_part"
  %br.clear
  
%br.clear

%table#columns
  %tr
    %td
      %div.portlet
        %div.portlet_topper
          %h1 To Do List
        %div.portlet_content
          %div#graph
    %td
      %div.portlet
        %div.portlet_topper
          %h1 Calendar
        %div.portlet_content
          %div#datepicker
    %td
      = render :partial => "to_do_lists/to_do_lists_part"

%div#footer

