%div#header
  %div#page_title
    %h1 Dashboard

%div#left_content
  = render :partial => "system_news/system_news_part"

%div#right_content
  
%br.clear

%table#columns
  %tr
    %td
      = render :partial => "to_do_lists/to_do_lists_part"
    %td
      %div.portlet
        %div.portlet_topper
          %h1 Calendar
        %div.portlet_content
          %p Coming Soon
    %td
      %div.portlet
        %div.portlet_topper
          %h1 To Do List
        %div.portlet_content
          %p Coming Soon

%div#footer