.info_container
  .header_container
    .title
      %h3 Select a User Group:
  .field_22
    = collection_select :group_list, :group_id, GroupType.all, :id, :name, {:prompt => true}, {:class => "show_list"}
  %br.clear

  .info_container{:class => "show_list_container",:style => "display:none;"}
  
    


  #new_group_list_container
    