%ul{:style => "list-style-type:none;padding-left:0px;"}
  - @list_headers.each do |i|
    %li{:style => "width:50%;float:left;cursor:pointer;cursor:hand;"}
      .info_container
        %div#group_list_in
          %div
            = i.id
            \-
            = i.name
%br.clear