.full_container
  %h1 Existing Keywords
  %table#show_keywords_grid{:class=>"selectable_grid",:mode_field=>'keyword_mode', :db_click_function=>"true", :edit=>"true", :db_click_url=>"/keywords/"}
%script{:type=>"text/javascript", :charset=>"utf-8"}
  :plain
    delete_from_a_grid = function(){
      delete_from_grid($("#show_keywords_grid tr.trSelected").attr('id'), "#keyword_mode", "get", "/keywords/delete_keywords");
    };

    retrieve_from_a_grid = function(){
      retrieve_from_grid($("#show_keywords_grid tr.trSelected").attr('id'), "get", "/keywords/retrieve");
    };
    $("#show_keywords_grid").flexigrid({
      url: '/grids/show_keywords_grid?keyword_type_id=#{@keyword_type_id}',
      dataType: 'json',
      colModel: [
        {
          display: 'ID',
          name: 'id',
          width: 40,
          sortable: true,
          align: 'left'
        },

        {
          display: 'Name',
          name: 'name',
          width: 570,
          sortable: true,
          align: 'left'
        },

        {
          display: 'Description',
          name: 'description',
          width: 270,
          sortable: true,
          align: 'left'
        }
      ],
      buttons:[
        {name: '', bclass: 'delete delete_button_on_grid', onpress: delete_from_a_grid},
        {name: '', bclass: 'get retrieve_button_on_grid', onpress: retrieve_from_a_grid}
      ],

      searchitems:[
      {
        display: 'Name',
        name: 'name'
      },
      {
        display: 'Description',
        name: 'description'
      }
      ],

      sortname: "name",
      sortorder: "asc",
      usepager: true,
      title: '',
      useRp: true,
      rp: 20,
      showTableToggleBtn: false,
      width: 'auto',
      height: 'auto'
    });