#keywords_right.right
  = label_tag :remove_person_keywords,"Assigned Keywords"
  = select_tag :remove_person_keywords,selected_keyword_options(person),{:multiple => true,:size => 20, :style => "width:100% !important;float:left;"}
  %br{ :style=>"clear: both;"}

  