#header
  #page_title
    %h1 Modules
  #lol
  %br.clear

.container
  .title
    = image_tag('add_icon.png')
    Install Modules

.container
  %h2 Module Installed
  .container_half
    .left
      Module Name
    .right
      Install Time
  .container_half
    .left
      Module Name
    .right
      Install Time
  .container_half
    .left
      Module Name
    .right
      Install Time
  .container_half
    .left
      Module Name
    .right
      Install Time