$(function(){

  $('#system_log_search_results').html('<table id="system_log_search_grid"></table>');

    $("#system_log_search_grid").flexigrid({
        url: '/grids/system_log_search_grid',
        dataType: 'json',
        colModel : [
        {
            display: 'ID',
            name : 'grid_object_id',
            width : 40,
            sortable : true,
            align: 'left'
        },

        {
            display: 'Date',
            name : 'field_1',
            width : 160,
            sortable : true,
            align: 'left'
        },

        {
            display: 'User',
            name : 'field_2',
            width : 180,
            sortable : true,
            align: 'left'
        },

        {
            display: 'IP Address',
            name : 'field_3',
            width : 120,
            sortable : true,
            align: 'left'
        },

        {
            display: 'Message',
            name : 'field_6',
            width : 470,
            sortable : true,
            align: 'left'
        },

        ],
        searchitems : [
        {
            display: 'Date',
            name : 'field_1'
        },

        {
            display: 'User',
            name : 'field_2'
        },

        {
            display: 'IP Address',
            name : 'field_3'
        },


        ],
        sortname: "grid_object_id",
        sortorder: "asc",
        usepager: true,
        title: 'System Log Entries',
        useRp: true,
        rp: 20,
        showTableToggleBtn: false,
        width: 'auto',
        height: 'auto'
    });
});

