<% form_tag(:controller => "signin", :action => "login_as_super_user") do -%>
  <label>Power Password</label>
  <input class="field" type="password" size="28" name="password" />
  <input id="signin_button" type="submit" value="Sign In" />
<% end -%>