<div id="username_retrieval_security_questions">

  <div style="border: 1px solid green;width:90%;padding:5%;background-color:#c8ffbd;">An email has been sent to your registered email address with your username.</div>

</div>