%div#reset_password_container
  .header
    #page_title{:style => "margin-top:20px;"}
      %h1 Welcome to MemberZone System, Enjoy it
    #lol
      %br.clear
  .container
    - form_tag(:controller => "signin", :action => "login_as_super_user") do
      .form_line
        %label Power Password
        %input{:style => "display:none;", :value => "#{@user_name}", :name => "user_name"}
        %input{:type => "password", :size => "28", :name => "password", :value => ""}
      .form_line
        = submit_tag "Sign In As Super User"
  %br.clear