<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Amazon | A new world of possibilities | Now with microwave!!</title>

    <%= stylesheet_link_tag  "Styles.css", "flexigrid.css","jpassword", "portlets", "signin.css", "validationEngine.jquery.css"%>
    <%= jqgrid_stylesheets %>
    <%= jqgrid_javascripts %>
    <%= javascript_include_tag  "flexigrid.js",
      "jquery.dataTables.min.js",
      "jquery.qtip.min.js",
      "jquery.form.js",
      "jquery.jpassword.js",
      "application.js",
      "person.js",
      "reports.js",
      "config.js",
      "interface.js",
      "jquery.validationEngine.js"
%>



  </head>

  <body>
    <!-- Hidden stuff displayed when people are having problems logging in -->

    <!-- Used to display the first login helper screen, which links to the others -->
    <script type="text/javascript">
      $(function() {
        $('#login_assistant').live('click', function(){
          $('#login_help_screen').dialog( {
            modal: true,
            resizable: false,
            draggable :false,
            height: 450,
            width: 700
          }
        );
          $("#login_help_screen").dialog("open");
        });

      }
    )
    </script>
    <!-- Used to display the the password reset screen -->
    <script type="text/javascript">
      $(function() {
        $('#forgot_password').live('click', function(){
          $('#login_help_screen').dialog('close');
          $('#login_password_reset').dialog( {
            modal: true,
            resizable: false,
            draggable :false,
            height: 750,
            width: 800
          }

        );
          $('#login_password_reset').dialog("open");
          $("#password_reset_username").val("");
          $("#password_reset_email_address").val("");
          $("#password_reset_username").attr("disabled", false);
          $("#password_reset_email_address").attr("disabled", false);
          $.ajax({
            type: "GET",
            url: "/signin/captcha",
            data: '',
            dataType: "script"
          });
          $("#password_reset_submit").show();
          $("#password_captcha").show();
          $("#login_password_reset_security_questions").html("<div id='login_password_reset_security_questions'></div>");
        });

      }
    )
    </script>
    <!-- Used to display the the username retrieval screen -->
    <script type="text/javascript">
      $(function() {
        $('#forgot_username').live('click', function(){
          $('#login_help_screen').dialog('close');
          $('#login_username_retrieval').dialog( {
            modal: true,
            resizable: false,
            draggable :false,
            height: 750,
            width: 800
          }

        );
          $('#login_username_retrieval').dialog("open");
          $("#username_retrieval_email_address").val("");
          $("#username_retrieval_email_address").attr("disabled", false);
          $("#username_retrieval_submit").show();
          $.ajax({
            type: "GET",
            url: "/signin/captcha",
            data: '',
            dataType: "script"
          });
          $("#username_retrieval_captcha").show();
          $("#username_retrieval_security_questions").html("<div id='username_retrieval_security_questions'></div>");
        });

      }
    )
    </script>
    <!-- Used to regenerate captchas on request -->
    <script type="text/javascript">
      $(function() {
        $('#regenerate_captcha').live('click', function(){
          $.ajax({
            type: "GET",
            url: "/signin/captcha",
            data: '',
            dataType: "script"
          });
        });
      }
    );
    </script>

    <div id="login_help_screen" style="display:none;">
      <h1><%= image_tag("/images/icon-life-ring.jpg") %> Login Assistant</h1>
      <p>If you are experiencing difficulty logging in please select from one of the options below, or contact your system administrator:</p>
      <ul>
        <li><a href="#" id ="forgot_username">I have forgotten my username</a></li>
        <li><a href="#" id ="forgot_password">I have forgotten my password</a></li>
      </ul>
    </div>
    <div id="login_password_reset" style="display:none;">
      <% form_tag("/signin/password_reset_get_login_account", :class => "ajax_form") do -%>
        <h1><%= image_tag("/images/icon-life-ring.jpg") %> Password Reset</h1>
        <p>Please complete the form below to have a new password emailed to you:</p>
        <table>
          <tr>
            <td><strong>Your IP:</strong></td>
            <td><%= "#{request.remote_ip}" %></td>
          </tr>
          <tr>
            <td><strong>Username:</strong></td>
            <td><%= text_field_tag :password_reset_username, nil, :size => "15" %></td>
          </tr>
          <tr>
            <td><strong>Email Address:</strong></td>
            <td><%= text_field_tag :password_reset_email_address, nil, :size => "20" %></td>
          </tr>
          <tr id="password_captcha">
            <td>&nbsp;</td>
            <td><div class="captcha"></div></td>
          </tr>
          <tr id="password_reset_submit">
            <td>&nbsp;</td>
            <td><%= submit_tag("Submit") %></td>
          </tr>
        </table>
      <%  end -%>
      <div id="login_password_reset_security_questions">

      </div>
    </div>
    <!-- Username retrieval -->
    <div id="login_username_retrieval" style="display:none;">
      <% form_tag("/signin/username_retrieval_get_login_account", :class => "ajax_form") do -%>
        <h1><%= image_tag("/images/icon-life-ring.jpg") %> Username Retrieval</h1>
        <p>Please complete the form below to have your username emailed to you:</p>
        <table>
          <tr>
            <td><strong>Your IP:</strong></td>
            <td><%= "#{request.remote_ip}" %></td>
          </tr>
          <tr>
            <td><strong>Email Address:</strong></td>
            <td><%= text_field_tag :username_retrieval_email_address, nil, :size => "20" %></td>
          </tr>
          <tr id="username_retrieval_captcha">
            <td>&nbsp;</td>
            <td><div class="captcha"></div></td>
          </tr>
          <tr id="username_retrieval_submit">
            <td>&nbsp;</td>
            <td><%= submit_tag("Submit") %></td>
          </tr>
        </table>
      <%  end -%>
      <div id="username_retrieval_security_questions">

      </div>
    </div>
    <!-- End hidden stuff for people having problems logging in -->
    <div id="signin_container" title="Login Assistance">
         <div id="signin_logo">

      </div>
      <div id="shadow_bar">

      </div>

      <div id="signin_form">
        <%= render(:partial => "/shared/flash_messages") %>
        <h1> System Sign In </h1>
        <% form_tag(:controller => "signin", :action => "login") do -%>
          <label>Username</label>
          <input class="field" type="text" size="28" name="user_name" />
          <label>Password</label>
          <input class="field" type="password" size="28" name="password" /><br />
          <a href="#" id="login_assistant">Having difficulty logging in?</a><br />
          <input id="signin_button" type="submit" value="Sign In" />
        <% end -%>
      </div>

      <div id="signin_extra_form">
        
      </div>
    </div>
  </body>
</html>
