<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Amazon | A new word of possibilities | Now with microwave!!</title>

    <link href="/stylesheets/signin.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="signin_container">
      <div id="signin_logo">

      </div>
      <div id="shadow_bar">

      </div>
      <div id="signin_form">
        <h1> System Sign In </h1>
        <% form_tag(:controller => "signin", :action => "login") do -%>
          <label>Username</label>
          <input class="field" type="text" size="35" name="user_name" />

            <label>Password</label>
            <input class="field" type="password" size="30" name="password" />&nbsp;
            <a href="#"><!-- Need to implement a tooltip to show the password hint --><img src="/images/password_hint.png" alt="Password_hint" width="20" height="22" border="0" /></a><br />
            <a href="#">I forgot my password</a><br />

            <input id="signin_button" type="submit" value="Sign In" />
          <% end -%>
      </div>
    </div>
  </body>
</html>
