<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Amazon | A new world of possibilities | Now with microwave!!</title>

    <%= javascript_include_tag "jquery.min.js",
      "jquery-ui.min.js",
      "flexigrid.js",
      "jquery.dataTables.min.js",
      "jquery.qtip.min.js",
      "jquery.form.js",
      "jquery.jpassword.js",
      "jquery.wysiwyg.js",
      "person.js",
      "reports.js",
      "module_menu.js",
      "application.js"
  %>
    <%= stylesheet_link_tag "signin" %>
    <%= stylesheet_link_tag "jquery-ui-custom" %>

  </head>

  <body>
    <!-- Hidden stuff displayed when people are having problems logging in -->

    <!-- Used to display the first login helper screen, which links to the others -->
    <script type="text/javascript">
      $(function() {
        $('#login_assistant').live('click', function(){
          $('#login_help_screen').dialog( {
            modal: true,
            resizable: false,
            draggable :false,
            height: 450,
            width: 700,
            buttons: {
              Close: function() {
                $(this).dialog('close');
              }
            }
          }
        );
        });
      
      }
    )
    </script>
    <!-- Used to display the the password reset screen -->
    <script type="text/javascript">
      $(function() {
        $('#forgot_password').live('click', function(){
        $('#login_help_screen').dialog('close');
        $('#login_password_reset').dialog( {
            modal: true,
            resizable: false,
            draggable :false,
            height: 750,
            width: 800,
            buttons: {
              Close: function() {
                $(this).dialog('close');
              }
            }
          }

        );
        });
        }
      )
    </script>
    <!-- Used to bring up the security questions for the password reset screen -->
    <script type="text/javascript">
      $(function() {
        $("#password_reset_email_address").live('keyup', function(){
          $.ajax({
            type: "GET",
            url: "/signin/password_reset_get_login_account",
            data: 'username=' + $('#password_reset_username').val() + '&email=' + $('#password_reset_email_address').val(),
            dataType: "script"
          });
        }
      );
      }
    )
    </script>
    <script type="text/javascript">
      $(function() {
        $("#password_reset_username").live('keyup', function(){
          $.ajax({
            type: "GET",
            url: "/signin/password_reset_get_login_account",
            data: 'username=' + $('#password_reset_username').val() + '&email=' + $('#password_reset_email_address').val(),
            dataType: "script"
          });
        }
      );
      }
    )
    </script>
    <div id="login_help_screen" style="display:none;">
      <h1><%= image_tag("/images/icon-life-ring.jpg") %> Login Assistant</h1>
      <p>If you are experiencing difficulty logging in please select from one of the options below, or contact your system administrator:</p>
      <ul>
        <li><a href="#" id ="forgot_password">I have forgotten my password</a></li>
      </ul>
    </div>
    <div id="login_password_reset" style="display:none;">
      <% form_tag("/signin/reset_password_request", :class => "ajax_form") do -%>
        <h1><%= image_tag("/images/icon-life-ring.jpg") %> Password Reset</h1>
        <p>Please complete the form below to have a new password emailed to you:</p>
        <table>
          <tr>
            <td><strong>Your IP:</strong></td>
            <td><%= "#{request.remote_ip}" %></td>
          </tr>
          <tr>
            <td><strong>Username:</strong></td>
            <td><%= text_field_tag :password_reset_username, nil, :size => "15" %></td>
          </tr>
          <tr>
            <td><strong>Email Address:</strong></td>
            <td><%= text_field_tag :password_reset_email_address, nil, :size => "20" %></td>
          </tr>
        </table>
        <div id="login_password_reset_security_questions">

        </div>
      <%  end -%>
    </div>

    <!-- End hidden stuff for people having problems logging in -->
    <div id="signin_container", title="Login Assistance">
         <div id="signin_logo">

      </div>
      <div id="shadow_bar">

      </div>

      <div id="signin_form">
        <%= render(:partial => "/shared/flash_messages") %>
        <h1> System Sign In </h1>
        <% form_tag(:controller => "signin", :action => "login") do -%>
          <label>Username</label>
          <input class="field" type="text" size="28" name="user_name" />
          <label>Password</label>
          <input class="field" type="password" size="25" name="password" />&nbsp;
          <a href="#"><!-- Need to implement a tooltip to show the password hint --><img src="/images/password_hint.png" alt="Password_hint" width="20" height="22" border="0" /></a><br />
          <a href="#" id="login_assistant">Having difficulty logging in?</a><br />
          <input id="signin_button" type="submit" value="Sign In" />
        <% end -%>
      </div>
    </div>
  </body>
</html>
