.full_container
  %input.hidden{:id => "country_mode", :mode => "show"}

  #new_country
    = render :partial => "countries/new_country"

  #existing_country
    = render :partial => "countries/existing_countries"

  #edit_country.hidden