.full_container
  %input.hidden{:id => "country_mode", :mode => "show"}

  #add_new_country
    = render :partial => "countries/new_country"

  #existing_countries
    = render :partial => "countries/existing_countries"

  #edit_country{:style => "display:none;margin-top:10px;float:left;"}
    .tab_looking_left
    .tab_looking_icon
      = image_tag('edit_icon.png')
      Edit
    .tab_looking_right
    .full_container
      .options
        = link_to_function image_tag('close_icon.png'), :field => "country", :style => "display:none;", :title=>"Close", :class => "close_option", :toggle_id_name => "edit_country", :toggle_id_name1 => "add_new_country"
      #edit_country_form

%script{:type => "text/javascript", :charset => "utf-8"}
  $("#show_countries_grid").flexigrid({
  url: '/grids/show_countries_grid',
  dataType: 'json',
  colModel : [
  {
  display: 'ID',
  name : 'id',
  width : 40,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Name',
  name : 'name',
  width : 100,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Target Amount',
  name : 'target_amount',
  width : 80,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Start Date',
  name : 'start_date',
  width : 100,
  sortable : true,
  align: 'left'
  },

  {
  display: 'End Date',
  name : 'end_date',
  width : 100,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Description',
  name : 'remarks',
  width : 120,
  sortable : true,
  align: 'left'
  }
  ],
  searchitems : [
  {
  display: 'Name',
  name : 'name'
  },

  {
  display: 'Target Amount',
  name : 'target_amount'
  },

  {
  display: 'Start Date',
  name : 'start_date'
  },

  {
  display: 'End Date',
  name : 'end_date'
  },

  {
  display: 'Description',
  name : 'description'
  }
  ],
  sortname: "id",
  sortorder: "start_date, name",
  usepager: true,
  title: 'Countries',
  useRp: true,
  rp: 20,
  showTableToggleBtn: false,
  width: 'auto',
  height: 'auto'
  });