.full_container
  .options
    = link_to_function image_tag('close_icon.png'), :style => "display:none;", :field => "country", :title=>"Close", :class => "close_option"
  .title
    = link_to_function image_tag('add_icon.png', :size=> "22x22"), :class => "new_ajax_call new_option", :field => "country", :title => "New", :url => "/countries/new"
    &nbsp
  %h2 New Country