.full_container
  .options
    = link_to_function image_tag('close_icon.png'), :style => "display:none;", :field => "country", :title=>"Close", :class => "close_option", :toggle_id_name => "new_country_form"
  .title
    = link_to_function image_tag('add_icon.png', :size=> "22x22"), :class => "ajax_call new_option", :field => "country", :title => "New", :method => "GET", :url => "/countries/new"
    &nbsp;
  %h2 New Country
  #new_country_form{:style => "float:left;width:100%;"}