-# Displays An Query Criteria
-div_for(query_criteria, :class => 'header_container') do
  %div
    .title
      %h2= query_criteria.formatted_info
    .options
      = link_to image_tag('edit_icon.png'), edit_query_criteria_path(query_criteria), :class => 'get', :title=>"Edit" if (query_criteria.query_header.status == true)
      = link_to image_tag('delete_icon.png'), query_criteria_path(query_criteria), :class => 'delete', :field => "Query Criteria", :error_message_field => "Query Criteria", :title=>"Remove" if (query_criteria.query_header.status == true)
    %br.clear