-# Displays An Query Selection
-div_for(query_selection, :class => 'header_container') do
  %div
    .title
      %h3= query_selection.formatted_info
    .options
      = link_to image_tag('delete_icon.png'), query_selection_path(query_selection), :class => 'delete' if query_selection.query_header.status == true
    %br.clear