-# Displays An Query Criteria
-div_for(query_criteria, :class => 'header_container') do
  %div
    .title
      %h3= query_criteria.formatted_info
    .options
      = link_to image_tag('edit_icon.png'), edit_query_criteria_path(query_criteria), :class => 'get' if (query_criteria.query_header.status == true)
      = link_to image_tag('delete_icon.png'), query_criteria_path(query_criteria), :class => 'delete' if (query_criteria.query_header.status == true) ,:field => "Query Criteria"
    %br.clear