-form_for ([@query_header, @query_selection]),:url => query_header_query_selections_path(@query_header),:html => {:class => 'ajax_form'} do |f|
  #left
    .form_line
      = f.label :table_name, 'Select Table'
      = f.collection_select :table_name, TableMetaMetaType.find(:all, :conditions => ["category != ?", exclude_category], :order => "name"), :name, :name, {:include_blank => true}, {:update_field => "selection", :class => "clear_select show_fields", :disabled => @query_header.status == false}
      %br.clear
    .form_line.field_select_line
      = f.label :field_name, 'Select Field'
      %select#fields_selection.field_select{:name => "query_selection[field_name]", :size => "12", :disabled => @query_header.status == false}
      %br.clear

  #right
    #attribute_description_selection.description_label
      %label &nbsp;

    = submit_tag "Add Attribute", :disabled => @query_header.status == false

  %br.clear