-# Displays An Query Sorter
-div_for(query_sorter, :class => 'header_container toggle_options', :field => "query_detail") do
  %div
    .title
      %h3= query_sorter.formatted_info
    .options{:style => "display:none;"}
      = link_to image_tag('delete_icon.png'), query_sorter_path(query_sorter), :class => 'delete', :field => "Query Sorter",:error_message_field =>"Query Sorter" if query_sorter.query_header.status == true
    %br.clear