-form_for @list_header, :html => {:class => "ajax_form"} do |f|
  .container
    %h3 Create List
    .form_line
      .field_20
        =f.label :name, "List Name"
        =f.text_field :name
      .field_20
        =f.label :description, "List Description"
        =f.text_field :description
      .field_20
        =f.label :allow_duplication, "&nbsp;"
        =f.check_box :allow_duplication, :style => "width:30%;display:inline"
        =f.label :allow_duplication, "Allow Duplications", :style => "width:30%;display:inline"
      .field_20{:style => "float:right"}
        =f.label :description, "&nbsp;"
        %input{:style => "display:none", :name => "query_header_id", :id => "query_id_for_list"}
        =submit_tag "Create List", :style => "width:100px;float:right"
        =link_to("Export to XML", {:action => "query_header_to_xml", :controller => "query_headers", :id => "#{@query_header.id}"}, :target => "_blank")
  %br.clear

.container
  %table#query_result_grid