%h1 Extra Attributes
.form_line
  .field_2
    %input{:type => "checkbox", :style => "width:auto;float:left;"}
  .field_70
    %label{:style => "width:auto;float:left;margin-top:5px;"} Allow Duplication

.form_line
  .field_2
    %input{:type => "radio", :name => "query_top", :value => "number", :id => "query_top_number", :checked => true}
  .field_5
    %label{:style => "width:auto;float:left;margin-top:5px;"} Top
  .field_2
    %input{:type => "radio", :name => "query_top", :value => "precent", :id => "query_top_percent"}
  .field_10
    %label{:style => "width:auto;float:left;margin-top:5px;"} Precent
  .field_30
    %input{:id => "query_top_value", :class => "integer_field"}