%table#show_existing_query_grid{:class=>"selectable_grid", :field=>"query", :db_click_function=>"true", :edit=>"true", :db_click_url=>"/query_headers/"}
%script{:type=>"text/javascript", :charset=>"utf-8"}
  :plain
    delete_from_a_grid = function(){
      delete_from_grid($("#show_existing_query_grid tr.trSelected").attr('id'), "#query_mode", "delete", "/query_headers/");
    };
    save_as = function(){
      retrieve_from_grid($("#show_existing_query_grid tr.trSelected").attr('id'),"#query_mode","get","/query_headers/copy");
    }
    
    $("#show_existing_query_grid").flexigrid({
      url: '/grids/show_existing_query_grid?query_type=#{query_type}',
      dataType: 'json',
      colModel: [
        {
          display: 'ID',
          name: 'id',
          width: 40,
          sortable: true,
          align: 'left'
        },

        {
          display: 'Name',
          name: 'name',
          width: 270,
          sortable: true,
          align: 'left'
        },

        {
          display: 'Description',
          name: 'description',
          width: 570,
          sortable: true,
          align: 'left'
        }
      ],

      buttons:[
        {name: '', bclass: 'delete delete_button_on_grid', onpress: delete_from_a_grid},
        {name: '', bclass:'saveas saveas_button_on_grid ', onpress: save_as}
      ],

      searchitems:[
        {
          display: 'Name',
          name: 'name'
        },
        {
          display: 'Description',
          name: 'description'
        }
      ],

      sortname: "name",
      sortorder: "asc",
      usepager: true,
      title: '',
      useRp: true,
      rp: 20,
      showTableToggleBtn: false,
      width: 'auto',
      height: 'auto'
    });