.header_container.container{:class => "get_query", :query_id => saved_query.id}
  %div
    .title
      %h2 #{saved_query.formatted_info}
    .options
      = link_to image_tag('edit_icon.png', :alt => 'Edit'), edit_query_header_path(saved_query), :class => 'get_query'
      = link_to image_tag('folder.png', :alt => 'SaveAs'), copy_query_header_path(saved_query), :class => 'get_query'
      = link_to image_tag('delete_icon.png', :alt => 'Delete'), query_header_path(saved_query), :class => 'delete'
    %br.clear