#header
  #page_title
    %h1 Contact Type
  #lol
  %br.clear

.container
  .container
    Add Contact Type
  %br.clear

  .tag
    = render :partial => "/tag_meta_types/tag_meta_types", :locals => {:tag_meta_types => @tag_meta_types}

.container#tag_meta_type_form{:style => "display:none;"}
.container#tag_type_form{:style => "display:none;"}
.container#tag_form{:style => "display:none;"}

