=image_tag('help_icon.png', :class => 'help_icon', :style => "padding:0.2em")

=link_to('System Setting', :controller => "administrations", :action => "system_setting")
=link_to('System Management', :controller => "administrations", :action => "system_management")
=link_to('Query/List', :controller => "administrations", :action => "list_management")
%h3{:style => "display:inline;"} Duplication Formula
#tabs{:style => "width:96%;"}
  = render :partial => 'duplication_formula_menu'
  #Personal
    = render :partial => '/duplication_formulas/personal_duplication_formula'

  #Organisational
    = render :partial => '/duplication_formulas/organisational_duplication_formula'