=image_tag('help_icon.png', :class => 'help_icon', :style => "padding:0.2em")
#tabs{:style => "width:96%;"}
  = render :partial => 'admin_menu'
  #SystemData
    = render :partial => '/amazon_settings/system_data', :locals => {:amazonsetting => @amazonsetting}
  #DocsType
    = render :partial => '/doc_types/doc_type', :locals => {:master_doc_meta_meta_type => @master_doc_meta_meta_type}
