=image_tag('help_icon.png', :class => 'help_icon', :style => "padding:0.2em")

=link_to('System Setting', :controller => "administrations", :action => "system_setting")
=link_to('System Management', :controller => "administrations", :action => "system_management")
%h3{:style => "display:inline;"} Query/List

#tabs{:style => "width:96%;"}
  = render :partial => 'list_management_menu'
  #Query
    = render :partial => '/queries/index'

  #List
    = render :partial => '/lists/index'


