-#header
  #page_title
    %h1 Role Manager
  #lol
    %br.clear

#tabs
  = render :partial => 'roles/role_menu'
  %br
  #Role
    = render :partial => '/roles/role_management'
  #Condition
    = render :partial => '/role_conditions/role_condition_management'
        

