#header
  #page_title
    %h1 Security Groups
  #lol
  %br.clear

.container
  .container
    = link_to_function image_tag("add_icon.png" , :size => "19x18"), :class => "multilevel_new_option new_tag_type", :tag => "Group", :tag_meta_type_id => @tag_meta_type.id
    Add Group
  %br.clear

  .tag{:id => "tag_types_#{@tag_meta_type.id}"}
    = render :partial => "/tag_types/tag_types"


.container#tag_type_form{:style => "display:none;"}
.container#tag_form{:style => "display:none;"}