#header
  #page_title
    %h1 User Lists

%input{:id => "user_list_user_mode", :mode => "show", :style => "display:none"}

#content_full_page
  %div#user_list_show_group
    =render :partial => '/user_management/show_existing_users'
  %br.clear
  %div#user_list_user_edit_container
