#header
  #page_title
    %h1 User Accounts
  #lol
    %br.clear
-#for user_management
#content_full_page
  .container{:class => "add_user"}
    %div#add_user_bar
      %div
        .options
          -#= link_to_function image_tag('closed_accordion.png'), :class => "toggle_button close_image", :toggle_id_name => "new_user"
          = link_to_function image_tag('close_icon.png'), :id => "close_new_account", :style => "display:none;", :class => "close_option", :field => "login_account"
        .title
          = link_to_function image_tag('add_icon.png'), :id => "add_user", :class => "toggle_button new_option", :toggle_id_name => "new_user", :field => "login_account"
          &nbsp
        %h1 Add User

    %div#new_user{:style => "display:none"}
      = render :partial => '/user_management/user_account_form'

  .container{:class => "show_user_container"}

    %div#show_user
      = render :partial => '/user_management/show_user_list'
    %br.clear


  %div#edit_user

  %div#user_length{:style => "display:none;"}
    %span username must between 6 to 30

  %div#password_confirm{:style => "display:none;"}
    %span password confirmation is different with password

  %div#password_length{:style => "display:none;"}
    %span password must between 6 to 30

  %div#invalid_email{:style => "display:none;"}
    %span invalid_email

  %div#person_check{:style => "display:none;"}
    %span the person already have login_account

  %div#login_name_invalid{:style => "display:none;"}
    %span invalid person id










