<% unless @role.nil? %>
  <% role = String.new %>
  <% role += "<option value='0'></option>" %>
  <% role += "<option value=''><< New Record >></option>" %>
  <% for r in @role %>

    <% role += "<option value= '#{r.id}'>#{r.name}</option>" %>


    $(".add_role").html('<%=escape_javascript("#{role}")%>')



    $("#role_description").val('')

  <%end%>
<% else %>



  $(".add_role").html('<option value="1">invalid type</option>')

  $("#role_description").val('')



<% end -%>