.form_line
  .field_20
    %h2 Email
  %br.clear
.form_line
  .field_15
    = email.label :contact_meta_type_id, 'Type'
    = email.collection_select :contact_meta_type_id, Contact.email_types, :id, :name
  .field_80
    = email.label :value, "Email"
    = email.text_field :value
  %br.clear