
%h2 Email
.form_line
  .field_25
    = email.label :contact_meta_type_id, 'Type'
    = email.collection_select :contact_meta_type_id, Contact.email_types, :id, :name
  .field_70
    = email.label :value, "Email"
    = email.text_field :value
  %br.clear