.form_line
  .field_20
    = email.label :contact_type_id, 'Type'
    = email.collection_select :contact_type_id, ContactType.find_all_by_metatype("Email"), :id, :name
  .field_80
    = email.label :value, "Email"
    = email.text_field :value
%br{ :style=>"clear: both;"}