<style type="text/css">
  .page_break {page-break-after: always;}
  #bank_run_audit_sheet #header {margin:5px auto;width:100%;text-align:center;}
  #bank_run_audit_sheet .top_item {float:left;width:33%;}
  #bank_run_audit_sheet .title_item {float:left;width:20%;}
  #bank_run_audit_sheet .clear {clear:both;}
  #bank_run_audit_sheet #summary {width:100%;}
  #bank_run_audit_sheet #summary_detail_left {width:60%;float:left;}
  #bank_run_audit_sheet .summary_detail_right {width:40%;float:left;}
</style>
<div id="bank_run_audit_sheet">
<%- @accounts.each do |account|%>
<%= render :partial => "transactions/bank_run_audit_sheet_per_account", :locals => {:account => account} %>
  <%- if account != @accounts.last %>
  <div class="page_break">&nbsp;</div>
  <%- end %>
<%- end %>
</div>