<style type="text/css">
  #header {margin:5px auto;width:100%;text-align:center;}
  .top_item {float:left;width:33%;}
  .title_item {float:left;width:20%;}
  .clear {clear:both;}
  #summary {width:100%;}
  #summary_detail {margin:5px auto;width:25%;}
  .summary_item {width:50%;float:left;}
  .page_break {page-break-after: always;}
</style>

<%- @accounts.each do |account|%>
<%= render :partial => "transactions/bank_deposit_sheet_per_account", :locals => {:account => account} %>
  <%- if account != @accounts.last %>
  <div class="page_break">&nbsp;</div>
  <%- end %>
<%- end %>