<style type="text/css">
  #credit_card_receipt {width:800px;margin: 0 auto;}
  #credit_card_receipt h1 {margin: 0;padding: 0;}
  #credit_card_receipt #header {margin:5px auto;width:100%;text-align:center;text-decoration: underline;}
  #credit_card_receipt #content_holder{margin: 0 auto;}
  #credit_card_receipt .top_item {float:left;width:33%;}
  #credit_card_receipt .title_item {float:left;width:20%;}
  #credit_card_receipt .clear {clear:both;}
  #credit_card_receipt #summary {width:100%;}
  #credit_card_receipt #summary_detail {margin:5px auto;width:25%;}
  #credit_card_receipt .summary_item {width:50%;float:left;}
  #credit_card_receipt .clear {clear:both;}

  #credit_card_receipt .div_line{width: 100%;height: auto;margin: 5px auto;padding: 0;float: left;}
  #credit_card_receipt .div_line .big_number, .div_line .big_number_content{padding: 0;margin-left: 10px;}
  #credit_card_receipt .div_line .big_number {width: 20px;}
  #credit_card_receipt .div_line .big_number_content{width: 54%;}
  #credit_card_receipt .div_line .signature{width:25%;;padding: 0; float: right;margin:4% 14% 0 0;border-top: dashed 1px black;}
  #credit_card_receipt .div_line .div_cell{width:auto;height: auto;margin: 0 auto;padding: 0 10px;float: left;text-align: left;}
  #credit_card_receipt .div_line .div_cell p, .div_line .th7, .div_line .th20, .div_line .th25, .div_line .th30 {margin: 0;padding: 0;}
  #credit_card_receipt .div_line .th7 {width: 7%;}
  #credit_card_receipt .div_line .th20 {width: 20%}
  #credit_card_receipt .div_line .th25 {width: 25%}
  #credit_card_receipt .div_line .th30 {width: 35%;}
  #credit_card_receipt .div_line_separater {height: 1px;border-bottom: dashed 1px black;}

  #credit_card_receipt #summary_of_card .table_style_1{padding-left: 2%;margin: 0;}
  #credit_card_receipt #summary_of_card .table_style_1 .cell {width:27%;}
  #credit_card_receipt #summary_of_card .table_style_2 {padding-left: 2%;margin: 10px auto 0 auto;}
  
  #credit_card_receipt #summary_sheet_title h1, .date, #client_org_name .time{width: 30%;display: inline;}
  #credit_card_receipt #summary_sheet .bold_title{font-weight: 600;}
  #credit_card_receipt #summary_sheet_title .date{float: right;margin-top: 15px;font-weight: 600;}

  #credit_card_receipt #client_org_name .time{float: right;text-align: center;}

  #credit_card_receipt #details_of_card .talbe_line{margin: 0;}
  #credit_card_receipt #details_of_card, #summary_sheet{margin-top: 20px;}
  #credit_card_receipt #bottom  {margin-top: 50px;}

  #credit_card_receipt #card_info .ci_line{margin: 0;padding: 1px 0 0 3%;}
  #credit_card_receipt .ci_line .ci_cell{width: 30%;}

</style>
<div id="credit_card_receipt">
  <%- @accounts.each do |account|%>
    <%= render :partial => "transactions/credit_card_receipt_per_account", :locals => {:account => account} %>
    <%- if account != @accounts.last %>
      <div class="page_break">&nbsp;</div>
    <%- end %>
  <%- end %>
</div>