<style type="text/css">
  #credit_card_receipt #header {margin:5px auto;width:100%;text-align:center;}
  #credit_card_receipt .top_item {float:left;width:33%;}
  #credit_card_receipt .title_item {float:left;width:20%;}
  #credit_card_receipt .clear {clear:both;}
  #credit_card_receipt #summary {width:100%;}
  #credit_card_receipt #summary_detail_left {width:60%;float:left;}
  #credit_card_receipt .summary_detail_right {width:40%;float:left;}
</style>
<div id="bank_run_audit_sheet">
<%- @accounts.each do |account|%>
<%= render :partial => "transactions/bank_run_audit_sheet_per_account", :locals => {:account => account} %>
  <%- if account != @accounts.last %>
  <div class="page_break">&nbsp;</div>
  <%- end %>
<%- end %>
</div>