-# locals => {}

.full_container
  #add_new_transaction
    -#= render :partial
    .full_container
      Add New Transaction

  #existing_unbanked_transactions
    = render :partial => "#{existing_transactions}"
    .full_container
      Existing Unbanked Transaction

  #edit_unbanked_transactions
    -#= render :partial
    .full_container
      Edit Unbanked Transations