-# locals => {:entity_type, :entity_id}

.full_container
  %input.hidden{:id => "current_mode", :mode => "show"}

  #add_new_transaction
    = render :partial => "transactions/new_transaction"
    

  #existing_unbanked_transactions
    = render :partial => "transactions/existing_transactions", :locals => {:entity_type => session[:entity_type], :entity_id => session[:entity_id]}
    

  #edit_unbanked_transactions{:style => "display:none;"}
  

