-# locals => {:entity_type, :entity_id}

%h2 Un-banked Transactions

%table#show_unbanked_transaction_grid

%script{:type => "text/javascript", :charset => "utf-8"}
  $("#show_unbanked_transaction_grid").flexigrid({
  url: '/grids/show_unbanked_transaction_grid?entity_id='+'#{entity_id}'+ '&entity_type='+ '#{entity_type}',
  dataType: 'json',
  colModel : [
  {
  display: 'ID',
  name : 'id',
  width : 40,
  sortable : true,
  align: 'left'
  },
  
  {
  display: 'Receipt Number',
  name : 'receipt_number',
  width : 80,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Transaction Date',
  name : 'transaction_date',
  width : 100,
  sortable : true,
  align: 'left'
  },

 
  

  {
  display: 'Bank Account',
  name : 'bank_accounts.account_number',
  width : 100,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Receipt Meta Type',
  name : 'tag_meta_types.name',
  width : 120,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Receipt Type',
  name : 'tag_types.name',
  width : 120,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Notes',
  name : 'notes',
  width : 220,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Total Amount',
  name : 'total_amount',
  width : 120,
  sortable : true,
  align: 'left'
  }

  ],
  searchitems : [
  {
  display: 'Transaction Date',
  name : 'transaction_date'
  },

  {
  display: 'Receipt Number',
  name : 'receipt_number'
  },

  {
  display: 'Bank Account',
  name : 'bank_accounts.account_number'
  },

  {
  display: 'Receipt Meta Type',
  name : 'tag_meta_types.name'
  },

  {
  display: 'Receipt Type',
  name : 'tag_types.name'
  },

  {
  display: 'Notes',
  name : 'notes'
  },

  {
  display: 'Total Amount',
  name : 'total_amount'
  }
  ],
  sortname: "id",
  sortorder: "asc",
  usepager: true,
  title: '',
  useRp: true,
  rp: 20,
  showTableToggleBtn: false,
  width: 'auto',
  height: 'auto'
  });