-# locals => {:entity_type, :entity_id, :start_date, :end_date}

%h2 Transaction Histroy

%table#show_transaction_histroy_grid

%script{:type => "text/javascript", :charset => "utf-8"}
  $("#show_transaction_histroy_grid").flexigrid({
  url: '/grids/show_transaction_histroy_grid?entity_id=#{entity_id}&entity_type=#{entity_type}&start_date=#{start_date}&end_date=#{end_date}',
  dataType: 'json',
  colModel : [
  {
  display: 'ID',
  name : 'id',
  width : 40,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Receipt Number',
  name : 'receipt_number',
  width : 80,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Transaction Date',
  name : 'transaction_date',
  width : 100,
  sortable : true,
  align: 'left'
  },




  {
  display: 'Bank Account',
  name : 'bank_accounts.account_number',
  width : 100,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Receipt Meta Type',
  name : 'tag_meta_types.name',
  width : 120,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Receipt Type',
  name : 'tag_types.name',
  width : 120,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Notes',
  name : 'notes',
  width : 220,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Total Amount',
  name : 'total_amount',
  width : 120,
  sortable : true,
  align: 'left'
  }

  ],
  searchitems : [
  {
  display: 'Bank Account',
  name : 'bank_accounts.account_number'
  },

  {
  display: 'Receipt Meta Type',
  name : 'tag_meta_types.name'
  },

  {
  display: 'Receipt Type',
  name : 'tag_types.name'
  },

  {
  display: 'Notes',
  name : 'notes'
  }
  ],
  sortname: "id",
  sortorder: "asc",
  usepager: true,
  title: '',
  useRp: true,
  rp: 20,
  showTableToggleBtn: false,
  width: 'auto',
  height: 'auto'
  });