-# locals => {:entity_type, :entity_id, :start_date, :end_date}
.full_container
  %h2 Transactions

  %table#show_transaction_histroy_grid.selectable_grid{:db_click_function => 'true', :field => 'histroy', :db_show => 'true', :db_click_url => "/transaction_headers/"}

%script{:type => "text/javascript", :charset => "utf-8"}
  $("#show_transaction_histroy_grid").flexigrid({
  url: '/grids/show_transaction_histroy_grid?entity_id=#{entity_id}&entity_type=#{entity_type}&start_date=#{start_date}&end_date=#{end_date}',
  dataType: 'json',
  colModel : [
  {
  display: 'ID',
  name : 'transaction_headers.id',
  width : 40,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Receipt Number',
  name : 'receipt_number',
  width : 80,
  sortable : true,
  align: 'left'
  },
  {
  display: 'Manual Receipt Number',
  name : 'receipt_number',
  width : 120,
  sortable : true,
  align: 'left'
  },
  {
  display: 'Transaction Date',
  name : 'transaction_date',
  width : 90,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Deposit Bank Account',
  name : 'bank_accounts.account_number',
  width : 110,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Receipt Method Type',
  name : 'tag_types.name',
  width : 110,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Receipt Method',
  name : 'tags.name',
  width : 80,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Notes',
  name : 'notes',
  width : 160,
  sortable : true,
  align: 'left'
  },

  {
  display: 'Total Amount',
  name : 'total_amount',
  width : 70,
  sortable : true,
  align: 'left'
  }

  ],
  searchitems : [
  {
  display: 'Manual Receipt Number',
  name : 'manual_receipt_number'
  },
  {
  display: 'Receipt Method Type',
  name : 'tag_types.name'
  },

  {
  display: 'Receipt Method',
  name : 'tags.name'
  },

  {
  display: 'Notes',
  name : 'notes'
  }
  ],
  sortname: "transaction_headers.id",
  sortorder: "asc",
  usepager: true,
  useRp: true,
  rp: 20,
  showTableToggleBtn: false,
  width: 'auto',
  height: 'auto'
  });