- form_tag('/transaction_headers/filter',:class => "ajax_form", :id => "transaction_filter_form", :submit_button_id => "filter_submit_button") do
  .full_container
    .form_line
      .field_30
        %label &nbsp;
        %h2 Filter By Transaction Date
      .field_20
        %label Start Date
        %input{:id => "filter_start_date", :class => "startdatepick", :end_date => "filter_end_date", :value => "01-01-#{Date.today().year()}", :name => "start_date"}
      .field_20
        %label End Date
        %input{:id => "filter_end_date", :class => "enddatepick", :start_date => "filter_start_date", :value => "31-12-#{Date.today().year()}", :name => "end_date"}

      .field_10{:style => "float:right;"}
        %label &nbsp;
        = button_to_function "Filter", :class => "fake_submit_button", :form_id => "transaction_filter_form", :id => "filter_submit_button", :style => "float:right;"
