= render :partial => "transactions/transation_template", :locals => {:title => "Organisation Transactions", :lol => "transactions/organisation_list_menu", :photo_info => "transactions/organisation_photo_info"}

