#personal_transaction
  = render :partial => "transactions/transation_template", :locals => {:title => "Person Transactions", :lol => "transactions/person_list_menu", :photo_info => "transactions/person_photo_info"}