<style type="text/css">
  .page_break {page-break-after: always;}
</style>
<%= render :partial=> "transactions/bank_deposit_sheet" %>
<div class="page_break">&nbsp;</div>
<%= render :partial=> "transactions/bank_run_audit_sheet" %>