<% if @group_types.size >0 %>
  <%- options = String.new  %>

  <%- @group_types.each do |i| %>
    <%- options += '<option value='+"#{i.id}"+'>'+" #{i.name}"+'</option>' %>
  <%- end %>

  $("#group_id").html("<%= escape_javascript("#{options}") %>");
  $("#group_id").change('');
  $("#group_type_description").html("<%= escape_javascript("#{@group_meta_type.description}") %>");


<% else %>
  $("#group_id").html('<option></option>');
  $("#group_type_description").html("");

<% end %>




