<%- options = String.new  %>
<%- descriptions = String.new %>
<%- descriptions += "<label class='descriptions'>&nbsp;</label>"%>

<%- @tag_types.each do |i|%>
<%- options += "<option value = #{i.name}> #{i.name} </option>"%>
<%- descriptions += "<label class='descriptions' id='description_#{i.name}' style='display:none;'>#{i.description}</label>" %>
<%- end %>
$('#fields').html('<%= escape_javascript("#{options}") %>');
$('#attribute_description').html('<%= escape_javascript("#{descriptions}") %>');