-# :locals => {:extra => extra, :group => group}
.toggle_options{:field => "extra"}
  .title
    %h1
  .options
    = link_to image_tag('edit_icon.png'), edit_extra_path(extra), :class => 'get edit_option', :field => "extra", :title=>"Edit"
  %br{ :style=>"clear: both;"}

  - i = 1
  - group.extra_types.each do |label|
    .form_line
      .field_15
        %label{:style => "margin-top:3px;"} #{label.name}:
      .field_40
        .display_bg_background
          - field = "label#{i}_value"
          = extra.__send__(field)
    - i = i + 1