.full_container

  %div.left#left_arrow{:style => "width:15%"}
    = link_to_function "Left", :class => "ajax_call", :method => "GET", :url => "/grids/show_list_grid", :param1 => @page==1 ? @page : @page - 1
  %div#album{:style => "width:70%;margin: 0 auto;float:left;"}
    =render :partial => "/tests/album_wall"
  %div.right#right_arrow{:style => "width:15%"}
    = link_to_function "Right", :class => "ajax_call", :method => "GET", :url => "/grids/show_list_grid", :param1 => @page + 1