- @entities.each do |i|
  %div{:style => "float:left;width:20%"}
    = i.try(:name)
    - if i.image.nil?
      = "no image found"
    - else
      = image_tag image_path(i.image.try(:id)), :id => "photo", :class => "medium"
