.full_container
  %h1 Existing Users
  %table#show_users_grid{:class=>"selectable_grid", :db_click_function=>"true", :edit=>"true", :db_click_url=>"/login_accounts/"}
%script{:type=>"text/javascript", :charset=>"utf-8"}
  :plain
    delete_from_a_grid = function(){
      var selectedId = $("#show_users_grid tr.trSelected").attr('id');
      delete_from_grid(selectedId, "#login_account_mode", "DELETE", "/login_accounts/"+selectedId.substring(3));
    };

    $("#show_users_grid").flexigrid({
      url: '/grids/show_user_accounts_grid',
      dataType: 'json',
      colModel: [
        {
          display: 'ID',
          name: 'id',
          width: 40,
          sortable: true,
          align: 'left'
        },

        {
          display: 'Person ID',
          name: 'person_id',
          width: 570,
          sortable: true,
          align: 'left'
        },

        {
          display: 'User Name',
          name: 'user_name',
          width: 270,
          sortable: true,
          align: 'left'
        }
      ],

      buttons:[
        {name: 'Delete', bclass: 'delete', onpress: delete_from_a_grid},
      ],

      searchitems:[
      {
        display: 'Person ID',
        name: 'person_id'
      },
      {
        display: 'User Name',
        name: 'user_name'
      }
      ],

      sortname: "person_id",
      sortorder: "asc",
      usepager: true,
      title: '',
      useRp: true,
      rp: 20,
      showTableToggleBtn: false,
      width: 'auto',
      height: 'auto'
    });