.full_container
  %h1 Existing Users
  %table#show_user_list_grid{:class=>"selectable_grid", :field=>"user_list_user", :db_click_function=>"true", :edit=>"true", :db_click_url=>"/user_lists/"}
%script{:type=>"text/javascript", :charset=>"utf-8"}
  :plain
    $("#show_user_list_grid").flexigrid({
      url: '/grids/show_user_list_grid',
      dataType: 'json',
      colModel: [
        {
          display: 'ID',
          name: 'id',
          width: 40,
          sortable: true,
          align: 'left'
        },

        {
          display: 'User Name',
          name: 'user_name',
          width: 200,
          sortable: true,
          align: 'left'
        },

        {
          display: 'Personal Name',
          name: 'person.name',
          width: 270,
          sortable: true,
          align: 'left'
        }
      ],

      searchitems:[
      {
        display: 'User Name',
        name: 'user_name'
      }
      ],

      sortname: "user_name",
      sortorder: "asc",
      usepager: true,
      title: '',
      useRp: true,
      rp: 20,
      showTableToggleBtn: false,
      width: 'auto',
      height: 'auto'
    });