-form_for @login_account, :url=> {:controller => 'login_accounts',:action => @login_account.new_record? ? 'create' : 'update', :id => @login_account.id}, :html => {:class => 'ajax_form'} do |login_account|
  ddd