-#for user_management
%h3 System User Mangement
.info_container{:style => "width:80%;"}
  %div#add_user_bar{:class => "toggle_button", :toggle_id_name => "new_user" }
    .header_container
      .options
        = link_to_function image_tag('closed_accordion.png'), :class => "toggle_button close_image", :toggle_id_name => "new_user"
      .options_left{:style => "margin-right:10px;"}
        = link_to_function image_tag('add_icon.png'), :id => "add_user"
        &nbsp
      %h3 Add New User

  %div#new_user{:style => "display:none"}
    = render :partial => '/user_management/user_account_form'

.info_container{:style => "width:80%;"}
  %h3 Existing Users
  %div#show_user
    = render :partial => '/user_management/show_user_list'
  %br.clear


%div#edit_user




