#report_grid_form
  %h2 People Contact Report Result
  %table#report_grid_form1
  = button_to_function 'Generate PDF', :style => "float:right;margin-top:10px;", :id => "report_person_pdf_submit_button"
