%h1 Reports

-form_for :report, :url => {:controller => 'reports', :action => "preview_report"}, :html => {} do |tag_type|
  %fieldset#report_select_list
    .form_line
      .field_30
        %h2 Select List
        =tag_type.label :list, 'Lists'
        %select{:id => "report_list", :disabled => (@list_headers.blank?), :name => "list_header_id", :class => "clear_select"}
          %option{:selected => "selected"}
          - @list_headers.each do |r|
            %option{:value => "#{r.id}"} #{r.name}
      %br.clear
  %fieldset#report_format{:style => "display:none;"}
    .form_line
      .field_30
        %h2 Report Format
        =tag_type.label :format, 'Format'
        =tag_type.select(:requested_format, [["",""], ['Contact Report', "Contact Report"]], {:selected => ""}, :class => "clear_select")
      %br.clear
  %fieldset#report_details{:style => "display:none;"}
    .form_line
      .field_30
        %h2 Sample Report
        %div#report_sample_image
      %br.clear


  = submit_tag 'Generate', :style => "width:75px;", :id => "report_submit_button"

