%h1 Reports
#tabs
  = render :partial => 'reports/import_menu'
  #Person
    = render :partial => '/reports/person_report_tab'
  #Organisation
    = render :partial => '/reports/organisation_report_tab'


