.container_corner.profile_tab_left_corner.left
.container_edit
  .options_left{:style => "margin-right:10px;"}
    = image_tag('edit_icon.png', :class => "edit_icon_right")
  %h3 Edit
.container_corner.profile_tab_right_corner.left
.full_container
  .options
    = link_to_function image_tag('close_icon.png'), :field => "postcode", :style => "display:none;", :title=>"Close", :class => "close_option", :toggle_id_name => "edit_postcode", :toggle_id_name1 => "add_new_postcode"
  #edit_postcode_form