.full_container
  %input.hidden{:id => "postcode_mode", :mode => "show"}

  #select_postcode
    .full_container
      .left
        %h2 Select Country:
      &nbsp
      = collection_select :geographical_area , :country_id, Country.all, :id, :short_name, {:include_blank => true}, {:class => "select_ajax_call clear_select", :method => "GET",:url => "/postcodes/show_by_country",:field => "postcode", :style => "display:inline;width:20%;", :disabled => false}

  #add_new_postcode

  #existing_postcodes

  #edit_postcode{:style => "display:none;margin-top:10px;float:left;width:100%;"}