<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>EmZee Version 1.1 - The Community Social Solution</title>
    <%= stylesheet_link_tag   "jpassword", "Portal.css","jquery-ui-1.7.1.custom.css","watermark" %>
    <%= javascript_include_tag  "jquery.js", "jquery-ui-1.7.1.custom.min.js", "portal.js",
      "jquery.jclock.js",
      "jquery.jpassword.js",
      "jquery.form.js",
      "jquery.updnWatermark.js"
  %>

  </head>

  <body>    
    <div id="top_bar"><div id="go_back_link"><a href=""><< back to Aghapy TV website</a></div></div>
    <div id="main"><!--main area wrapper-->
      <div id="content"><!--main content area "where the magic happens"-->
        <%= yield %>
      </div>
      <br style="clear: both;"/>
    </div>

    <div id ="footer" class="footer">
      <span>Powered by: <%=image_tag('memberzone_footer.png')%>  &nbsp;&nbsp; Licensed to: Demostration Server   </span>
    </div>
  </body>
</html>
