.container
  %h1 Finalizer
  .form_line
    .field_20
      %label Suspend ID
      %div.display_field_bg
        =@membership.nil? ? "" : @membership.finalized_by
        %input{:name=>"field",:value=>@membership.person_id,:class=>"hidden membership_person_lookup"}
    .field_40
      %label Suspendor
      .display_field_bg#reviewer_name
        = @membership.nil? ? "" : @membership.finalized_by.nil? ? "" : Person.find(@membership.finalized_by).name
    .field_30
      %label Suspend Date
      .display_field_bg
        =@membership.nil? ? "" : @membership.finalized_date.nil? ? "" : @membership.finalized_date
  .form_line{:style => "height:auto;"}
    .field_100{:style => "height:auto;"}
      %label Outcomes
      .display_field_bg
        =@membership.nil? ? "" : @membership.finalized_comment.nil? ? "" : @membership.finalized_comment
    %br.clear