- @membership_logs.each do |i|
  .container
    %h1 i.action
    .form_line
      .field_20
        %label Performer ID
        .display_field_bg
          = i.performer_id
      .field_40
        %label Performer
        .display_field_bg
          = i.performer.try(:name)
      .field_30
        %label Performed At
        .display_field_bg
          = i.performed_at.to_s

    .form_line{:style => "height:auto;"}
      .field_100{:style => "height:auto;"}
        %label Outcomes
        .display_field_bg
          = i.comment
      %br.clear