-# locals => {:title => "Review, Approve..."}

-form_for 'membership', :url => "/membership/update", :html => {:class => "ajax_form",:id=>"membership",:submit_button_id=>"new_membership_submit"} do |p|
  #person_detail.container
    = render :partial => "/membership/membership_person_detail"

  #payment_detail.container{:style => "display:none;"}

  #edit_membership_form.container
    = render :partial => "/membership/reviewer_form"

  #histroy
    = render :partial => "/membership/display_membership_histroy"


   