.container
  %h1 Reviewed Application
  =render :partial => "/membership/display_grid",:locals=>{:type=>"Reviewed"}
= render :partial => "membership/edit_membership_container", :locals => {:title => "Finalize"}


