%h1 Finalizer
.form_line
  .field_20
    %label <span class="asterisk">*</span>Finalizer ID
    %input{:id => "reviewer_id", :name => "reviewer_id", :value => "ID"}
  .field_40
    %label Finalizer
    .display_field_bg
      Name
  .field_30
    %label Finalizer Date
    %input{:id => "reviewer_date", :name => "reviewer_date", :class => "datepick", :value => Time.now.strftime("%d-%m-%Y")}
.form_line{:style => "height:auto;"}
  .field_100{:style => "height:auto;"}
    %label Output
    %textarea{:style=>"width:100%;height:150px;"}
.form_line
  .field_20
    %label Mail Template Category
    = collection_select :letter_id, :template_id, MailMergeCategory.active_mail_merge_category, :id, :name, {:include_blank => true}, {:class => "select_ajax_call clear_select", :method => "GET", :url => "/amazon_settings/look_for_template", :update_field => "approve_letter_id"}
  .field_20
    %label Mail Template
    %select{:id => "approve_letter_id", :name => "membership[approve_letter_id]", :class => "mail_template", :check_box_id => "approve_letter_sent"}
  .field_20{:style => "display:none;"}
    %label Send Instant Mail
    %input{:type => "checkbox", :id => "approve_letter_sent", :name => "membership[approve_letter_sent]"}
  %br.clear