.full_container
  %h1 Initiator
  .form_line
    .field_20
      %label Initiator ID
      %input{:id => "reviewer_id", :name => "reviewer_id", :value => "ID"}
    .field_40
      %label Initiator
      .display_field_bg
        Name
    .field_30
      %label Initiator Date
      %input{:id => "reviewer_date", :name => "reviewer_date", :class => "datepick", :value => Time.now.strftime("%d-%m-%Y")}
  .form_line{:style => "height:auto;"}
    .field_100{:style => "height:auto;"}
      %label Output
      %textarea{:style=>"width:100%;height:150px;"}
    %br.clear