%h1 Initiator
.form_line
  .field_20
    %label Initiator ID
    %input{:id => "reviewer_id", :name => "membership[initiated_by]", :value => "ID",:class=>"mandantory_field membership_intiator_lookup",:mandantory_field1=>"membership_person_id",:mandantory_field2=>"reviewer_id",:submit_button_id=>"new_membership_submit",:update_field=>"initiator_name"}
  .field_5
    %label &nbsp;
    = link_to_function image_tag("Icons/System/search.png"), :class => "person_lookup", :update_field => "reviewer_id", :title=>"Search"
  .field_40
    %label Initiator
    .display_field_bg#initiator_name
      =@person.name unless @person.nil?
  .field_30
    %label Initiator Date
    %input{:id => "reviewer_date", :name => "membership[initiated_date]", :class => "datepick", :value => Time.now.strftime("%d-%m-%Y")}
.form_line{:style => "height:auto;"}
  .field_100{:style => "height:auto;"}
    %label Output
    %textarea{:name=>"membership[initiated_comment]",:style=>"width:100%;height:150px;"}
  %br.clear