
%h1 Membership option
.form_line
  .field_30
    = label_tag :name, '<span class="asterisk">*</span>Membership Type', {:style => "color: #232323;"}
    = collection_select :membership, :membership_type_id, MembershipType.all, :id, :name
  .field_30
    = label_tag :type, '<span class="asterisk">*</span>Membership Status', {:style => "color: #232323;"}
    = collection_select :membership,:membership_status_id, MembershipStatus.all, :id, :name

  %br.clear



