
%h1 Membership option
.form_line
  .field_30
    = label_tag :name, '<span class="asterisk">*</span>Membership Type'
    = collection_select :membership, :membership_type_id, MembershipType.active, :id, :name
  .field_30
    = label_tag :type, '<span class="asterisk">*</span>Membership Status'
    = collection_select :membership,:membership_status_id, MembershipStatus.active, :id, :name, {:selected => @selected_id.nil? ? "" : @selected_id}

  %br.clear



