.container
  %h1 Outstanding Application
  =render :partial => "/membership/display_grid",:locals=>{:type=>"Intiated"}

= render :partial => "membership/edit_membership_container", :locals => {:title => "Review"}
   


