#review_filter
  -form_tag("/membership/membership_filter?state=review", {:class => "ajax_form"}) do
    = render :partial => "/membership/filter_form"

.container#review_page_grid{:style=>"display:none"}
  
= render :partial => "membership/edit_membership_container", :locals => {:title => "Reviews"}
   


