.container
  %h1 Memberships
  =render :partial => "/membership/display_grid",:locals=>{:type=>"Approved"}


= render :partial => "membership/edit_membership_container", :locals => {:title => "Suspend"}