
.container
  %h1 Suspended Membership
  =render :partial => "/membership/display_grid",:locals=>{:type=>"Suspended"}



= render :partial => "membership/edit_membership_container", :locals => {:title => "Terminate"}
