#header
  #page_title
    %h1 Suspend Membership
  #lol
  .full_container
    .container
      =render :partial => "/membership/display_grid",:locals=>{:type=>"Terminate"}


= render :partial => "membership/edit_membership_container", :locals => {:title => "Terminate"}
