#header
  #page_title
    %h1 Life Management
  #lol
    %br.clear
.full_container
  #life_page_filter
    -form_tag("/membership/membership_filter?state=life", {:class => "ajax_form"}) do
      = render :partial => "/membership/filter_form"
  .container#life_grid{:style=>"display:none"}
    -#=render :partial => "/membership/display_grid",:locals=>{:membership_status=>"Actived"}