#header
  #page_title
    %h1 Membership Management
  #lol
    %br.clear
.full_container
  #life_page_filter
    -form_for "life_page_filter_form" , :url =>{:controller => "membership" ,:action =>"membership_filter"},:html => {:class =>'ajax_form'} do |f|
      = render :partial => "/membership/filter_form"
  #life_grid
    =render :partial => "/membership/display_grid",:locals=>{:membership_status=>"Actived"}