#header
  #page_title
    %h1 Membership Management
  #lol
    %br.clear
.full_container
  #suspend_page
    = render :partial => "membership/suspend_page" if @person.new_record?
  #individual_review_page
    = render :partial => "membership/edit_membership_individual", :locals => {:title => "Suspend"} unless @person.new_record?